---
layout: project
title: "Salgirah International Festival Identity"
short: Salgirah
description: "Designing the visual identity for a festival in 21 countries in 11 languages."
openGraphImage: "img/Salgirah - opengraph.png"
cover: "img/Salgirah_cover.mp4"
showCover: false
when: 2025 (annually)
client: The Ismaili community
tools: Illustrator, InDesign, After Effects, Photoshop, Rhino
tags:
    - project
    - portfolio
media: 
    - branding
    - motion
    - environmental
goal: Update a unified festival identity for the global Ismaili community.
position: 1
thanks: "Special thanks Mimi Liu for motion collaboration and to the dozens of volunteers who applied the identity system across many media types around the&nbsp;world."
---
include ../../_includes/project_utils.pug

//- TODO: update link on about page / resume section

block content
    .grid-2
        div
            p Salgirah is a religious festival observed by Ismaili Muslims marking the birthday of their spiritual leader. His Highness the Aga Khan V, a descendant of Prophet Muhammad, was appointed the role of 15 million Ismailis worldwide after his father passed away earlier that year. October 12, 2025 marked his first birthday, or Salgirah.
            br
            p The identity launched to great success with over 1 million impressions on social media across 21 countries in 10 multiple languages. This was my fifth year working on the identity, it’s always a joy to see how the system is used around the world from signage to cake decorations by all age groups. This year was particularly exciting to see communal artwork created using unexpected materials, see videos below.
        div
            strong More details coming soon
            br
            p See the&nbsp;
                a.underline(href="../salgirah-archive") archive page
                | &nbsp;for historical designs from 2021–2024.
            br
            //- TODO: potentially new structure for the future
            //- p.caption Client
            //- p.bold Hello
            //- br
            //- p.caption Problem
            //- p.bold Hello
            //- br
            //- p.caption My Solution
            //- p.bold Hello
            //- br         
    .grid-1
        +animation("img/Salgirah_animation.mp4", "")
    .grid-3
        +videoCustom("img/2025_Salgirah_02_montage.mp4", "", false, 1080, 1350)
        +portfolioImg("img/2025_Salgirah_03_logo.png", "", "")
        +portfolioImg("img/2025_Salgirah_04_system.png", "", "")
        +videoCustom("img/2025_Salgirah_05_wood.mp4", "", false, 1080, 1350)
        +portfolioImg("img/2025_Salgirah_06_pattern.png", "", "")
        +videoCustom("img/2025_Salgirah_07_REC.mp4", "", false, 1080, 1350)

    hr.rule
    h2 Process
    .grid-3
        +videoCustom("img/2025_Salgirah_08_proposal.mp4", "", false, 1080, 1350)
        +portfolioImg("img/2025_Salgirah_09_process.png", "", "")
        +videoCustom("img/2025_Salgirah_10_inspo.mp4", "", false, 1080, 1350)
