---
layout: project
title: "Mark Rothko Documentary Campaign"
tagline: [todo]
description: [todo]
openGraphImage: "https://freight.cargo.site/w/1920/q/75/i/6d68b76a4c4758c4ac456154544cf494ec60693af4ac70db0df9d57eda5eea65/Mark_Rothko_campaign_cover.png"
when: 2023
client: [todo]
tools: InDesign, Illustrator, Photoshop
tags: 
    - project
    - portfolio
media: 
    - branding
    - posters
    - book design
    - augmented reality
goal: [todo]
position: 2

recogition: "One poster was selected for display in office of the Chair of Graphic Design at ArtCenter."

---
include ../../_includes/molecules.pug
//- Don’t love that I need this include in every project... doable for now
include ../../_includes/project_utils.pug

//- TODO: cleanup all the old metatags

block content
    .grid-2
        div
            p I designed a wordmark, posters, and accompanying booklet for a campaign promoting a PBS documentary about Mark Rothko, the abstract expressionist.  My design concept was: in memoriam.
            br
            p Special thanks to: Christian Perez-Morin, Sean Adams, Michael Neal, Erin Son, Sean Shang, Brad Bartlett, and Greg Lindy of Lux Typo. Additional thanks to the National Gallery of Art for high quality images of Rothko’s artwork, and to Architectural Digest for a beautiful photo of the Rothko Chapel.
        div
            p Depth of research and critique helped me to clarify the forms and vocabulary used throughout the project. Book colors were inspired by the Rothko Chapel in Houston, Texas. The non-denominational Chapel was one of Rothko’s final projects which he never saw completed before his passing.
            br
            p Each chapter begins with a full spread. The chapter title is large, paired with a relevant Rothko quote on the opposite page.
            ol
                li
                    strong Preface 
                    | — an introduction to Mark Rothko.
                li 
                    strong Search 
                    | — early explorations through his lesser known styles of art.
                li
                    strong Voice 
                    | — a photo essay of his best known abstract works.
                li
                    strong Wisdom 
                    | — his advice for new artists.
                li
                    strong Legacy 
                    | — an interview with Christopher Rothko, his son, which informed my overall design direction.
                li
                    strong Reflection 
                    | — my brief and emotional editorial capturing my thoughts as I completed the book.

            p I experimented with a rough augmented reality experience with Adobe Aero to view selected paintings when pointing a mobile device at the book cover.

    .grid-1
        +portfolioImg("https://freight.cargo.site/w/1920/q/94/i/6d68b76a4c4758c4ac456154544cf494ec60693af4ac70db0df9d57eda5eea65/Mark_Rothko_campaign_cover.png", "", "A poster series promoting the documentary episode.")
    .grid-1
        +portfolioImg("https://freight.cargo.site/w/1920/q/94/i/a99ed1cc506126d1e49a89d25267bae09ea1f30e40d35ef757ded0b3e161d424/Rothko---2.png", "", "Sean Adams, the former Department Chair of Graphic Design at ArtCenter, selected one poster from the set to display in his office.")

    .grid-1
        +slider()
            +imgForSlider("https://freight.cargo.site/w/1920/q/75/i/dfeb6d636794bc314c9736fef742f89db0784deebe10f97e76b0e8717f463645/Rothko---7.png", "", "The final wordmark set on a purple inspired by the colors of Rothko’s paintings in the Rothko Chapel. The primitive forms for “Mark” tie back to the primitive emotions evoked by his work. While “Rothko” is set in all caps to symbolize the monolithic scale of his paintings.")
            +imgForSlider("https://freight.cargo.site/w/1920/q/75/i/b019c58ac246337c1658955a52631dc30097b632c618bd9a27749b8f1f6881b4/Rothko---8.png", "", "Varying the placement of “Mark” creates a dynamic element. Conceptually, this connects back to Mark Rothko’s many years of searching before finally settling on the style of art we know him for (and his legacy) as Rothko.")

    //- Example, on mobile I don’t want this to flatten to 1 column
    .grid-2.keepDesktop
        +portfolioImg("https://freight.cargo.site/w/1920/q/75/i/dfeb6d636794bc314c9736fef742f89db0784deebe10f97e76b0e8717f463645/Rothko---7.png", "", "The final wordmark set on a purple inspired by the colors of Rothko’s paintings in the Rothko Chapel. The primitive forms for “Mark” tie back to the primitive emotions evoked by his work. While “Rothko” is set in all caps to symbolize the monolithic scale of his paintings.")
        +portfolioImg("https://freight.cargo.site/w/1920/q/75/i/b019c58ac246337c1658955a52631dc30097b632c618bd9a27749b8f1f6881b4/Rothko---8.png", "", "Varying the placement of “Mark” creates a dynamic element. Conceptually, this connects back to Mark Rothko’s many years of searching before finally settling on the style of art we know him for (and his legacy) as Rothko.")

    .grid-1
        +portfolioImg("https://freight.cargo.site/w/1920/q/94/i/ea0c1d006bf659cca9839097a1b042572caecfce4bf0107555e59735d55068a7/Mark-Rothko-Documentary-Campaign---20.png", "", "Extending the identity to a booklet required a special consideration for messaging. I chose the title “Art for Mystics”, based on the following definition for mystical: inspiring a sense of spiritual mystery, awe, and fascination. This sense of awe is due partly to the scale of Rothko’s paintings.")

    //- TODO: indesign preview
    .grid-1
        +inDesign("https://indd.adobe.com/embed/0ce1fbfe-ae15-462d-b89c-fc8d21c9b685?startpage=1&amp;allowFullscreen=false", "The complete book is available for viewing above.")

    .grid-1
        +portfolioImg("https://freight.cargo.site/w/1920/q/94/i/95973f4f13afe40a5dfc74e661b69b15b75e830e889e85214d413634e81a05ea/Mark-Rothko-Documentary-Campaign---21.png", "", "Colors were inspired by the Rothko Chapel in Houston, Texas. The non-denominational Chapel was one of Rothko’s final projects which he never saw completed.")

    .grid-2
        +slider()
            +portfolioImg("https://freight.cargo.site/w/1920/q/94/i/b003394c91e47c46061058addeb5ce3ef2ab59e330e7aae7908ba70951b303c4/Mark-Rothko-Documentary-Campaign---22.png", "", "Intro/outro: A few spreads guide the reader from from the everyday material world to that of the mystical, symbolized by a slow gray to purple gradient. The outro follows the sequence in reverse. This concept is based on an engawa, a Japanese architecture element to bridge the outside world to the home.")
            +portfolioImg("https://freight.cargo.site/t/original/i/4ea7b4ffcc0d3248fe9980e4191a88d3050c0124d9e4382120404aa1ad47a0d4/Mark-Rothko-Documentary-Campaign---23.png", "", "Intro/outro: A few spreads guide the reader from from the everyday material world to that of the mystical, symbolized by a slow gray to purple gradient. The outro follows the sequence in reverse. This concept is based on an engawa, a Japanese architecture element to bridge the outside world to the home.")
            +portfolioImg("https://freight.cargo.site/t/original/i/b7e7bd20c9ba597dea18ad75b3c23dde8f512d46f0c2308ef949ad59de8dc69d/Mark-Rothko-Documentary-Campaign---24.png", "", "Intro/outro: A few spreads guide the reader from from the everyday material world to that of the mystical, symbolized by a slow gray to purple gradient. The outro follows the sequence in reverse. This concept is based on an engawa, a Japanese architecture element to bridge the outside world to the home.")
        +portfolioImg("https://freight.cargo.site/w/1920/q/94/i/8fb242811a5a96165cc8b2c952f45a366ea12f72cd1b1275d2aefa58acc15c2d/Mark-Rothko-Documentary-Campaign---25.png", "", "Recalling the definition of mysticism which inspired the publication title.")

    //- TODO: another slider for guts

    .grid-1
        +portfolioImg("https://freight.cargo.site/w/1920/q/94/i/0b4840a1f335a2cd8c39d383c9e4e5b6b923ec5908c9fbf8329635d1524be73f/Rothko---9.png", "", "Envisioning the start of an opening title sequence for the documentary.")

    .grid-1
        +portfolioImg("https://freight.cargo.site/w/1920/q/94/i/12c1f8484c8815cdb4772e03840710a16bf56a46559a8d901ac068e5fc002d8c/Rothko---3.png", "", "Screenshots of the augmented reality experience created using Adobe Aero.")

    .grid-1
        +portfolioImg("https://freight.cargo.site/w/1920/q/94/i/6faa9f265a8d78b21986833949981d1df16ae020a7e954b53376abf21d9d9061/Rothko---5.png", "", "My research included reading Johanna Drucker’s recently released book, Inventing the Alphabet, as I saught a deeper understanding for primitive letterforms. Conceptually, this aligned with Rothko’s ability to tap into the viewer’s primitive emotions with his artwork.")

    .grid-1
        +portfolioImg("https://freight.cargo.site/w/1920/q/94/i/fd027dc8b87fb0aa21584f994162edc2b9050f1194dc5ac804255d3aacbad967/Rothko---6.png", "", "Various sketches during the wordmark design process which ultimately led to me discovering the magic of this H-K ligature to minimize visual clutter.")

    .grid-1
        +portfolioImg("https://freight.cargo.site/w/1920/q/94/i/5d0e86cc8529fda42fb59af32063d4a2edd80e53e5d2faa0e72ecfe6923d78b6/Mark-Rothko-Documentary-Campaign---32.png", "", "This was the first editorial project that I shared on LinkedIn, and the post received some unexpected praise.")