@media only screen and (max-width: 768px) {
   .myrow, .mycell {
        display: block !important;
    }
}

@media screen and (min-width: 1920px) {
    h2 {
        font-size: 1rem !important;
    }
    bodycopy {
        font-size: 1rem !important;
    }
    .thumbnails .title {
        font-size: 1.25rem !important;
        line-height: 1.0rem !important;
        margin-top: 0.75rem !important;
    }
    .thumbnails .tags {
        font-size: 1rem !important;
    }
}

#toolset {
    display: none;
}

body {
    background-color: #fff;
    color: #000;
}

a:active {
    opacity: 0.7;
}

.page a.active {
    opacity: 1;
}

i,
em {
    font-style: italic;
}

b,
strong {
    font-weight: bolder;
}

sub,
sup {
    position: relative;
    vertical-align: baseline;
}

sub {
    top: 0.3em;
}

sup {
    top: -0.4em;
}

s {
    text-decoration: line-through;
}

img {
    border: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0 0 0 4.5rem;
}

ol > li {
    padding-left: 0.75rem;
}

blockquote {
    margin: 0;
    padding: 0 0 0 2em;
}

hr {
    background: rgba(0, 0, 0, 0.3);
    border: 0;
    height: 1px;
    display: block;
}

.content img {
    float: none;
    margin-bottom: 0rem;
    vertical-align: bottom;
}

.gallery_image_caption {
    margin-top: 1.0em;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    font-family: tt-commons-pro, Icons;
    font-style: normal;
    line-height: 1.3;
    text-align: left;
}

/**
 * Loading Animation
 */

.loading[data-loading] {
    position: fixed;
    bottom: 8px; 
    left: 8px;
}

/**
 * Editor styles
 */

[data-predefined-style="true"] bodycopy {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    font-family: tt-commons-pro, Icons;
    font-style: normal;
    line-height: 1.4;
}

[data-predefined-style="true"] bodycopy a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

[data-predefined-style="true"] bodycopy a:hover {
    color: rgba(255, 92, 10, 0.85);
}

bodycopy a.image-link,
bodycopy a.icon-link,
bodycopy a.image-link:hover,
bodycopy a.icon-link:hover {
    border-bottom: 0;
    padding-bottom: 0;
}

[data-predefined-style="true"] h1 {
    font-family: corporate-a, Icons;
    padding: 0;
    margin: 0;
    font-size: 3rem;
    line-height: 1;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
}

[data-predefined-style="true"] h1 a {
    color: rgba(0, 0, 0, 1);
}

[data-predefined-style="true"] h2 {
    font-family: tt-commons-pro, Icons;
    font-style: normal;
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: rgba(0, 0, 0, 1);
    font-size: 2.5rem;
    line-height: 1.2;
    letter-spacing: 0.01em;
}

[data-predefined-style="true"] h2 a {
    color: rgba(0, 0, 0, 1);
}

[data-predefined-style="true"] small {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1.2;
    font-family: tt-commons-pro, Icons;
    font-style: normal;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
}

[data-predefined-style="true"] small a {
    color: rgba(0, 0, 0, 0.4);
    border-bottom-width: 0em;
}

/**
 * Breakpoints
 */

[data-css-preset] .page {
    background-color: initial /*!page_bgcolor*/;
}

.mobile .page,
[data-css-preset].mobile .page {
    position: relative;
    min-height: 10px;
    max-width: 100%;
    width: 100%;
    background-color: transparent /*!page_bgcolor*/;
}

[data-css-preset] .container {
    margin-left: 0 /*!content_left*/;
    margin-right: auto /*!content_left*/;
    text-align: left /*!text_left*/;
}

[data-css-preset] body {
    background-color: transparent /*!body_bgcolor*/;
}

[data-css-preset] .container_width {
    width: 100% /*!content_left*/;
}

[data-css-preset] .content_padding {
    padding-top: 2rem /*!main_margin*/;
    padding-bottom: 2rem /*!main_margin*/;
    padding-left: 2rem /*!main_margin*/;
    padding-right: 2rem /*!main_margin*/;
}

[data-css-preset] .backdrop {
    width: 100% /*!background_cover*/;
}

/**
 * Thumbnails
 */

div[thumbnails] {
    justify-content: flex-start;
}

[data-css-preset] .thumbnails {
    background-color: transparent/*!thumbnails_bgcolor*/;   
}

[data-css-preset] .thumbnails_width {
    width: 100%/*!thumbnails_width*/;
}

[data-css-preset] [thumbnails-pad] {
    padding: 0.5rem/*!thumbnails_padding*/;
}

[data-css-preset] [thumbnails-gutter] {
    margin: -1rem/*!thumbnails_padding*/;
}

[data-css-preset] [responsive-layout] [thumbnails-pad] {
    padding: 0.25rem/*!responsive_thumbnails_padding*/; 
}

[data-css-preset] [responsive-layout] [thumbnails-gutter] {
    margin: -0.5rem/*!responsive_thumbnails_padding*/; 
}

.thumbnails .thumb_image {
    outline: 0px solid rgba(0,0,0,.12);
    outline-offset: -1px;
}

.thumbnails .title {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.85);
    font-family: tt-commons-pro, Icons;
    font-style: normal;
    line-height: 1.3;
}

.thumbnails .tags {
    margin-top: .8rem;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.25;
    font-family: tt-commons-pro, Icons; font-style: normal;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
    font-variation-settings: 'slnt' 0, 'MONO' 1;
    text-transform: capitalize;
}

.thumbnails .tags a {
    border-bottom: 0;
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.thumbnails .has_title .tags {
    margin-top: 0rem;
}

/**
 * Site Menu Button
 */

[data-css-preset] #site_menu_button {
    color: rgba(0, 0, 0, 0.85);
    font-size: 26px /*!site_menu_button*/;
    padding: 6px;
    line-height: 1;
    background: rgba(33, 32, 46, 0);
    position: fixed;
    top: 1.0rem /*!site_menu_button*/;
    right: 1.2rem /*!site_menu_button*/;
}

body.mobile #site_menu_button {
    margin: -6px;
    font-size: 30px;
}

#site_menu_button.custom_icon {
    width: 40px;
    height: auto;
}

#site_menu_button.active {
    display: none;
}

/**
 * Site Menu
 */

#site_menu {
    font-family: tt-commons-pro, Icons;
    background: rgba(20, 20, 20, 0.95);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    padding: 20px 30px 90px 30px;
    max-width: 400px;
    min-width: 300px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

body.mobile #site_menu {
    width: 100%;
}

#site_menu .page-link a {
    color: rgba(255, 255, 255, 0.75);
}

#site_menu .set-link > a {
    color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
}

#site_menu a:active {
    opacity: .7;
}

#site_menu a.active {
    opacity: .4;
}

#site_menu .close {
    display: none;
    color: rgba(255, 255, 255, 0.4);
    line-height: .85em;
    font-size: 45px;
}

body.mobile #site_menu .close {
    display: block;
    font-size: 50px;
    line-height: 1em;
}

#site_menu .break {
    height: 28px;
}

#site_menu .indent {
    margin-left: 28px;
}

/**
 * Shop Button
 */

[data-css-preset] #shop_button {
    color: rgba(0, 0, 0, 0.85);
    background: transparent;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.;
    position: fixed;
    padding: 6px;
    bottom: 3rem /*!shop_button*/;
    right: 3rem /*!shop_button*/;
}

#shop_button.text {
    font-family: tt-commons-pro, Icons;
    font-size: 1.2rem;
    padding: 0;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    font-style: normal;
    line-height: 1.3;
    letter-spacing: .07em;
}

#shop_button.custom_icon {
    width: 40px;
    height: auto;
}

body.mobile #shop_button:not(.text) {
    margin: -6px;
    font-size: 36px;
}

/**
 * Shop Product Widget
 */

.shop_product {
    width: 100%;
    max-width: 22rem;
    position: relative;
    display: block;
}

.shop_product .price {
    font-family: tt-commons-pro, Icons;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.1;
    color: rgba(0, 0, 0, 0.85);
}

.shop_product .dropdown {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Sans Serif", Icons;
    font-size: 1.2rem;
    display: inline-block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10rem;
    background:  white url(https://static.cargo.site/assets/images/select-line-arrows.svg) no-repeat right .25rem top 0;
    margin-bottom: 1rem;
    line-height: 1.2;
    padding: 0.7rem 2.5rem 0.8rem 1.25rem;
    font-style: normal;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
}

.shop_product .button {
    font-family: tt-commons-pro, Icons;
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 10rem;
    color: rgba(255,255,255,1);
    flex: 0 0 50%;
    text-align: left;
    display: inline-block;
    line-height: 1;
    padding: .8rem 1.25rem;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
}

/**
 * Image Zoom
 */

.content img.image-zoom:active {
    opacity: .7;
}

/**
 * Quick View
 */

[data-css-preset] .quick-view {
    padding-top: 2.5rem /*!quick_view_padding*/;
    padding-bottom: 2.5rem /*!quick_view_padding*/;
    padding-left: 2.5rem /*!quick_view_padding*/;
    padding-right: 2.5rem /*!quick_view_padding*/;
    height: 100% /*!quick_view_height*/;
    width: 100% /*!quick_view_width*/;
}

body.mobile .quick-view {
    width: 100%;
    height: 100%;
    margin: 0;
}

[data-css-preset] .quick-view-background {
    background: rgba(255, 255, 255, 1) /*!quick_view_bgcolor*/;
}

.quick-view-caption {
    font-family: tt-commons-pro, Icons;
    transition: 100ms opacity ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 3.5rem 0;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}

.quick-view-caption span {
    padding: 0.5rem 1rem;
    display: inline-block;
    background: rgba(0,0,0,0.5);
    color: white;
}

/**
 * Quick View Navigation 
 */

.quick-view-navigation .left-arrow {
    left: 10px;
}

.quick-view-navigation .right-arrow {
    right: 10px;
}

.quick-view-navigation .left-arrow,
.quick-view-navigation .right-arrow {
    /* Change height/width together to scale */
    height: 36px;
    width: 36px;
}

.quick-view-navigation .left-arrow .inner-color,
.quick-view-navigation .right-arrow .inner-color {
    stroke: #fff;
    stroke-width: 0px;
}

.quick-view-navigation .left-arrow .outer-color,
.quick-view-navigation .right-arrow .outer-color {
    stroke: rgba(0, 0, 0, 0.85);
    stroke-width: 2px;
}

.quick-view-navigation .close-button {  
    top: 10px;
    right: 10px;
    /* Change height/width together to scale */
    width: 36px;
    height: 36px;
}

.quick-view-navigation .close-button .inner-color {
    stroke: #fff;
    stroke-width: 0px;
}

.quick-view-navigation .close-button .outer-color {
    stroke: rgba(0, 0, 0, 0.85);
    stroke-width: 2px;
}

/** 
 * Image Gallery Navigation Arrows 
 */
 
.image-gallery-navigation .left-arrow,
.image-gallery-navigation .right-arrow {
    /* Change height/width together to scale */
    height: 36px;
    width: 36px;
}

.image-gallery-navigation .left-arrow .inner-color,
.image-gallery-navigation .right-arrow .inner-color {
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 2px;
}

.image-gallery-navigation .left-arrow .outer-color,
.image-gallery-navigation .right-arrow .outer-color {
    stroke: rgba(0, 0, 0, 0.6);
    stroke-width: 3px;
}

/**
 * Wallpaper Backdrop Navigation Arrows 
 */

.wallpaper-navigation .left-arrow,
.wallpaper-navigation .right-arrow {
   /* Change height/width together to scale */
   width: 36px;
   height: 36px;
}

.wallpaper-navigation .left-arrow .inner-color,
.wallpaper-navigation .right-arrow .inner-color {
   stroke: #fff;
   stroke-width: 2px;
}

.wallpaper-navigation .left-arrow .outer-color,
.wallpaper-navigation .right-arrow .outer-color {
    stroke: rgba(0, 0, 0, 0.6);
    stroke-width: 3px;
}

/**
 * Feed
 */

.feed .content_container .page {
    border-top: 0px dashed rgba(0, 0, 0, 0.2);
}

.feed .content_container .page_container:first-child .page {
    border-top: 0;
}

/**
 * Audio Player
 */

.audio-player {
    max-width: 26rem;
    height: 3.3rem;
    outline: 1px solid rgba(0, 0, 0, 0.26);
    color: rgba(0, 0, 0, 0.85);
    background: transparent;
    font-size: 1.2rem;
    line-height: 1.2;
    font-family: tt-commons-pro, Icons;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    margin: 1px 1px 1em 1px;
}

body.mobile .audio-player {
    max-width: 100%;
}

.audio-player .separator {
    width: 1px;
    background-color: rgba(0, 0, 0, 0.26);
}

.audio-player .button {
    background: transparent;
    cursor: pointer;
    fill: rgba(0, 0, 0, 0.9);
}

.audio-player .icon {
    fill: rgba(0, 0, 0, 0.9);
    padding: 30%;
    width: 100%;
    margin: auto;
}

.audio-player .buffer {
    background: rgba(0, 0, 0, 0.1);
}

.audio-player .progress {
    background: rgba(0, 0, 0, 0.2);
}

.audio-player .progress-indicator {
    border: 1px solid rgba(0, 0, 0, 0.7);
    width: 1px;
    height: 100%;
    right: 0;
    position: absolute;
    cursor: ew-resize;
}

.audio-player .note-icon {
    height: 100%;
    width: 3.8rem;
    padding: 1rem;
    fill: rgba(0, 0, 0, 0.75);
}

.audio-player .current-time {
    padding-left: 1rem;
}

.audio-player .total-time {
    padding-right: 1rem;
}
