//- One of the best resources of Tailwind components https://tailblocks.cc/

mixin navItem(href, label)
    a(class="font-sans font-bold md:inline-block md:pl-8" href=href) #{label}

mixin sectionWhite()
    section(class="bg-white text-navy py-4")
        block

mixin sectionOrange()
    section(class="bg-orange text-navy")
        block

mixin container
    div(class="mx-4 pb-2 md:container md:mx-auto")
        //- TODO: probably need this here, and cleanup all usages 
        //- div(class="lg:mx-72")
        block