//- TODO: One of the best resources of Tailwind components https://tailblocks.cc/

mixin navItem(href, label)
    a(class="font-sans font-bold text-white md:inline-block md:ml-8" href=href) #{label}

mixin sectionWhite()
    section(class="bg-white text-navy")
        +container()
            block

mixin sectionOrange()
    section(class="bg-orange text-navy")
        +container()
            block

mixin sectionNavy()
    section(class="bg-navy text-navy")
        +container()
            block

mixin sectionLightBlue()
    section(class="bg-light-blue text-navy")
        +container()
            block

//- TODO: does every container have a grid?
//- hmm maybe not... BUT every section might have a grid!
mixin container
    div(class="pb-2 px-8 lg:mx-auto")
        block

mixin grid()
    div(class="md:grid md:grid-cols-12")
        block

mixin gridBigColumn()
    div(class="md:col-span-12 lg:col-span-8 lg:col-start-3 lg:col-end-11")
        block

mixin gridWithBigColumn()
    +grid()
        +gridBigColumn()
            block