//- TODO: One of the best resources of Tailwind components https://tailblocks.cc/

mixin headerLogo()
    h3(class="text-white text-center py-4 flex-nowrap md:text-left")
            a(href="/") Shakeel Mohamed

mixin navItem(href, label)
    a(class="font-sans font-bold text-white md:inline-block md:ml-8" href=href) #{label}

//- TODO: every section has a gridWithBigColumn(), tidy up many places

mixin sectionWhite()
    section(class="bg-white text-navy")
        +container()
            block

mixin sectionOrange()
    section(class="bg-orange text-navy")
        +container()
            block

mixin sectionNavy()
    section(class="bg-navy text-navy")
        +container()
            block

mixin sectionLightBlue()
    section(class="bg-light-blue text-navy")
        +container()
            block

mixin hero()
    div(class="md:mt-10 md:mb-5 xl:mt-20 xl:mb-10")
        +container()
            +gridWithBigColumn()
                    block

mixin container
    div(class="py-2 mx-4 md:px-8 lg:mx-auto")
        block

mixin grid()
    div(class="md:grid md:grid-cols-12")
        block

mixin gridBigColumn()
    div(class="md:col-span-12 lg:col-span-8 lg:col-start-3 lg:col-end-11")
        block

mixin gridWithBigColumn()
    +grid()
        +gridBigColumn()
            block