//- One of the best resources of Tailwind components https://tailblocks.cc/

mixin navItem(href, label)
    a(class="font-sans font-bold md:inline-block md:pl-8" href=href) #{label}

//- TODO: migrate section mixins to postcss instead
mixin sectionWhite()
    section(class="bg-white text-navy py-4")
        +container()
            block

mixin sectionOrange()
    section(class="bg-orange text-navy py-4")
        +container()
            block

mixin sectionNavy()
    section(class="bg-navy text-navy py-4")
        +container()
            block

mixin container
    div(class="mx-4 pb-2 md:container md:mx-auto")
        div(class="lg:mx-72")
            block