

//- TODO: move nav
//- TODO: newsletter signup form; https://github.com/tailwindlabs/tailwindcss-forms

//- TODO: remix so blog listing can reuse part of this
mixin projectListing(title, photoUrl, summary)
    //- TODO: image
    div.justify-self-auto
        img(src="https://dummyimage.com/1200x630/000/fff.png&text=Project+Cover+Photo+Here")
        h3.text-navy title
        +pNavy(summary)

mixin copyright()
    //- TODO: how can this be reused/modular?
    div(class="pt-4 mx-auto text-center")
        p(class="font-serif text-white text-base") Designed and developed with ✨emotion✨ by 
            a(href="/about") me.
        p(class="font-serif text-white text-base") &copy;
            script document.write(new Date().getFullYear())