//- TODO: remix so blog listing can reuse part of this
mixin projectListing(project)
    div.justify-self-auto.pb-8
        a(href=project.url)
            img(src="https://dummyimage.com/1200x630/000/fff.png&text=Project+Cover+Photo+Here")
        h3(class="text-navy pb-0.5")
            a(href=project.url) #{project.data.title}
        p.text-navy.leading-tight #{project.data.description}

mixin copyright()
    //- TODO: how can this be reused/modular?
    div(class="pt-4 mx-auto text-center")
        p.text-white Designed and developed with ✨emotion✨ by 
            a(href="/about/") me.
        p.text-white &copy; Shakeel Mohamed 
            script document.write(new Date().getFullYear())

//- mixin projectSectionText()
    
//- mixin projectSectionSplit()
    
//- mixin projectSectionImage()