//- TODO: many of these elements will be populated by 
//- a) content: posts and projects
//- b) data: featured content, mentions, archives; see: https://www.11ty.dev/docs/pages-from-data/


//- TODO: featured content (projects or posts)
//- TODO: move footer, header here
//- TODO: list of projects / blog posts; should be reusable