//- TODO: how can I prevent widows & orphans? Maybe https://workingconcept.com/blog/preventing-widows-responsive-layouts

//- mixin p(text)
//-     p(class=serif + white + "text-left text-base") #{text}

mixin accent()
    //- TODO: design a more elegant icon
    span.text-orange.font-bold &nbsp; >>>