mixin h1(text)
    h1(class="font-sans font-bold text-white text-5xl text-center py-4 md:text-left") #{text}

mixin h3(text)
    h3(class="font-sans font-bold text-white text-3xl text-center py-4 md:text-left") #{text}