mixin blogpost(post)
    li
        span.h5= post.date
        span.h4
            a(href="#{post.url}", title="#{post.title}", target="_blank")= post.title
doctype html
html
    head
        title Shakeel Mohamed
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="chrome=1")
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        link(href="https://npmcdn.com/basscss@8.0.1/css/basscss.min.css", rel="stylesheet")
        link(href="styles.css", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Signika", rel="stylesheet", type="text/css")
        
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    body
        div(class="flex center")
            div(class="mx-auto")
                div(class="nav center")
                    span(class="inline h1 pr2") Shakeel Mohamed
                    ul(class="social-links")
                        li(class="inline pr1")
                            a(href="https://github.com/shakeelmohamed", target="_blank") GitHub
                        li(class="inline pr1") Stack Overflow
                        li(class="inline pr1") LinkedIn
                        li(class="inline pr1") Goodreads
                        li(class="inline pr1")
                            a(href="https://twitter.com/_shakeel", target="_blank") Twitter
                        li(class="inline pr1") Instagram
                        li(class="inline pr1") Facebook
        div(class="flex center")
            div(class="flex-col mx-auto")
                h2(class="blogheader")
                    | Blog Posts (
                    a(href="https://volleyy.com/shakeel/" target="_blank") subscribe
                    | )
                hr
                ul.blogposts
                    each post in blogs
                        +blogpost(post)