mixin socialLink(name, URL)
    li(class="inline pr1")
        a(href="#{URL}", target="_blank")= name
mixin blogPost(post)
    li
        span.h5= post.date
        span.h4
            a(href="#{post.url}", title="#{post.title}", target="_blank")= post.title
doctype html
html
    head
        title Shakeel Mohamed
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="chrome=1")
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        link(href="https://npmcdn.com/basscss@8.0.1/css/basscss.min.css", rel="stylesheet")
        link(href="styles.css", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Signika", rel="stylesheet", type="text/css")
        <!-- -->
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!--This website's source code is available at https://github.com/shakeelmohamed/beta -->
    body
        div(class="flex center")
            div(class="mx-auto")
                div(class="nav center")
                    h1(class="inline h1 pr2") Shakeel Mohamed
                    figure
                        a(href="http://shakeelmohamed.com")
                            img(src="https://s.gravatar.com/avatar/fce1af87b1acae9428fd82ee361a5bc0?s=200" style="-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;" alt="Photo of Shakeel Mohamed" title="Photo of Shakeel Mohamed")
                    ul(class="social-links")
                        each URL, name in socialLinks
                            +socialLink(name, URL)
        div(class="flex center")
            div(class="flex-col mx-auto")
                h2(class="blogheader")
                    | Blog Posts (
                    a(href="https://volleyy.com/shakeel/" target="_blank") subscribe
                    | )
                hr
                ul.blogposts
                    each post in blogs
                        +blogPost(post)