body {
    font-family: "Signika", sans-serif;
}

a {
    color: #39c;
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul {
    padding-left: 0px;
}

.nav {
    padding-top: 10px;
}

.profile-photo {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.social-links {
    margin-top: 0.75rem;
}

.section-list li {
    padding-bottom: 15px;
}

.section-list li span.h5 {
    display: block;
    padding-bottom: 5px;
}