body {
    /* font-family: "Signika", sans-serif; */
    font-family: "Roboto", sans-serif;
}

* {
    background-color: #f3f0e8;
    color: #40403f;
}

a {
    color: #0074D9;
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul {
    padding-left: 0px;
}

.nav {
    padding-top: 10px;
}

.profile-photo {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.logo {
    width: 30%;
    max-width: 50%;
}

.social-links {
    margin-top: 0.75rem;
}

.section-list li {
    padding-bottom: 15px;
}

.section-list li span.h5 {
    display: block;
    padding-bottom: 5px;
}