---
layout: project
title: "Ontology Typeface"
short: Ontology
description: Ontology is a full-flavored sans font family.
openGraphImage: "./img/Ontology - OG.png"
when: 2025
tools: Glyphs, Illustrator, InDesign, Figma
tags:
    - project
media: 
    - type design
    - research
goal: Design a bilingual typeface, inspired by Arabic. (The Arabic is currently being revisited.)
thanks: "Special thanks to instructor Greg Lindy, and HMCT Typographer-in-Residence Yara Khoury Nammour."
position: 8
---

include ../../_includes/molecules.pug
include ../../_includes/project_utils.pug

block content
    //- TODO: add portfolio tag when ready
    
    .grid-2
        div
            p Ontology is a full-flavored sans font family. The project began by intent began by learning the anatomy of Arabic script through connected and positional letterforms. I was inspired by how the calligraphic gesture still influences modern Arabic type design, and wanted to bring that influence into the Latin character set. Typically, the Arabic letterforms for a font are designed after the Latin. However, through consultation with native Arabic speakers and type designers, I recognized the need to pause and revisit the Arabic letterforms after a break. However, in doing so I had already brought some of the Arabic influence into my Latin letters and hope to continue the process as time permits.
        div
            p Future work includes: refined spacing, kerning pairs, sample print applications, and properly drawn weights for black and regular instead of relying on interpolation from bold to thin.
    .grid-2
        +portfolioImg("./img/Ontology - 1.png", "", "")
        +portfolioImg("./img/Ontology - 2.png", "", "")
    .grid-1
        +portfolioImg("./img/Ontology - 3.png", "", "")