---
layout: project
title: "Ontology Typeface"
short: Ontology
description: Ontology is a variable sans serif font family.
openGraphImage: "./img/Ontology - OG.png"
when: 2025
tools: Glyphs, Illustrator, InDesign, Figma
tags:
    - project
media: 
    - type design
goal: Design a typeface 
thanks: "Special thanks to instructor Greg Lindy."
position: 7
---

include ../../_includes/molecules.pug
include ../../_includes/project_utils.pug

block content
    //- TODO: add portfolio tag when ready
    
    .grid-2
        div
            p Ontology is a variable sans serif font family.
        div
            p Future work includes: refined spacing, kerning pairs, sample print applications, and properly drawn weights for black and regular instead of relying on interpolation from bold to thin.
            

    .grid-1
        h1 Coming Soon!
        +portfolioImg("./img/Ontology - OG.png", "", "")