---
layout: project
title: "Ontology Typeface"
short: Ontology
description: Ontology is a full-flavored sans serif font family.
openGraphImage: "./img/Ontology - OG.png"
when: 2025
tools: Glyphs, Illustrator, InDesign, Figma
tags:
    - project
    - research
media: 
    - type design
goal: Design a typeface 
thanks: "Special thanks to instructor Greg Lindy and the HMCT Typographer-in-Residence Yara Khoury Nammour."
position: 8
---

include ../../_includes/molecules.pug
include ../../_includes/project_utils.pug

block content
    //- TODO: add portfolio tag when ready
    
    .grid-2
        div
            p Ontology is a full-flavored sans serif font family.
        div
            p Future work includes: redrawing most letterform paths, refined spacing, and variable font animations.
            

    .grid-1
        h1 Coming Soon!
        +portfolioImg("./img/Ontology - OG.png", "", "")