---
layout: project
title: "Ontology Typeface (WIP)"
short: Ontology
description: Ontology is a full-flavored sans font family.
openGraphImage: "./img/Ontology - OG.png"
when: 2025
tools: Glyphs, Illustrator, InDesign, Figma
tags:
    - project
    - portfolio
media: 
    - type design
    - research
goal: Design a bilingual typeface, where the Latin letterforms are inspired by Arabic.
thanks: "Special thanks to instructor Greg Lindy and Yara Khoury Nammour for her instruction on the Arabic script while visiting ArtCenter as the 2025 HMCT Typographer-in-Residence. Additional thanks to Duolingo for helping me to learn the Arabic alphabet!"
position: 8
---

include ../../_includes/molecules.pug
include ../../_includes/project_utils.pug

block content    
    .grid-2
        div
            p Ontology is a full-flavored sans font family. The project began by learning the anatomy of Arabic script through connected and positional letterforms. I was inspired by how the calligraphic gesture still influences modern Arabic type design, and wanted to bring that influence into the Latin character set. Typically, the Arabic letterforms for a font are designed after the Latin. I was attempting the reverse.
            br
            p After consultation with native Arabic speakers and type designers, I recognized the need to pause and revisit the Arabic letterforms after a break. However, in doing so I had already brought some of the Arabic influence into my Latin letters and hope to continue the process as time permits.
        div
            p During the semester I designed two font weights (thin and bold) with four interpolated weights (extra light, light, regular, medium), along with six specimen posters, and a twelve page newsprint typeface specimen.
            br
            p Future work includes: refined spacing, kerning pairs, sample print applications, and properly drawn weights for black and regular instead of relying on interpolation from bold to thin, and revisiting the Arabic script.
    .grid-2
        +portfolioImg("./img/Ontology - 10.png", "", "Posters to promote the typeface.")
        +portfolioImg("./img/Ontology - 12.png", "", "While designing the typeface, I was influenced, and at times overwhelmed, by major events in 2025.")
    .grid-2
        div
            h2 Naming
            p I chose the name Ontology after putting the Arabic script aside and began to wonder what the purpose of this project was anymore. This reflection proved to be an important part of my process, slowing down to focus on details rather than focusing on the end result.
        div &nbsp;
    .grid-2
        +portfolioImg("./img/Ontology - 15.png", "", "")
        +portfolioImg("./img/Ontology - 17.png", "", "")
    .grid-1
        +portfolioImg("./img/Ontology - 11.png", "", "")
    .grid-2
        +portfolioImg("./img/ontology_cover.avif", "", "Newspaper type specimen front and back cover.")
        +portfolioImg("./img/ontology_spreads.avif", "", "Newspaper type specimen designed to show features of the typeface.")

    hr
    h2 Process
    .grid-2
        +portfolioImg("./img/Ontology - 4.png", "", "The typeface was inspired by my coffee packaging project, Hadhan (since changed to Hadaan).")
        +portfolioImg("./img/Ontology - 5.png", "", "I thought about this becoming the brand font for Hadhan, perhaps even on a coffee menu.")
    .grid-2
        +portfolioImg("./img/Ontology - 14.png", "", "")
        +portfolioImg("./img/Ontology - 13.png", "", "")
    .grid-2
        +portfolioImg("./img/Ontology - 8.png", "", "Though the Arabic is very incomplete, the design and critique has taught me a lot about the script. A big insight was how the opposite writing direction (right-to-left) influences the pen angle in calligraphy and appropriate proportions on Arabic letterforms accordingly.")
        +portfolioImg("./img/Ontology - 6.png", "", "The latest development (March 2025) of the Arabic script using a test word covering a majority of shapes and diacritic marks of the alphabet. I intend to revisit the Arabic letterforms soon, with a fresh perspective.")
    .grid-2
        +portfolioImg("./img/Ontology - 3.png", "", "My final final at ArtCenter! In my presentation I reflected on the four (!!!!) typefaces that I designed during design school.")
        +portfolioImg("./img/Ontology - 7.png", "", "A last meeting with Yara Khoury Nammour during the last week of her HMCT residence.")
