---
layout: project
title: "Mark Rothko: Art For Mystics"
tagline: [todo]
description: [todo]
openGraphImage: "https://freight.cargo.site/w/1000/q/75/i/fb144efb21367703600a9335f2c2c2112974f1f0976b994dec7a6c8c165d9913/Rothko-booklet---cover-v2.png"
when: 2023
client: [todo]
tools: InDesign, Illustrator, Photoshop
tags:
    - project
    - portfolio
media: 
    - editorial
    - brand identity
    - posters
    - augmented Reality
goal: [todo]
position: 2
---
include ../../_includes/molecules.pug

block content
    p coming soon.