---
title: Grad Show | Shakeel Mohamed — Strategic Brand Designer
description: Shakeel Mohamed is a Graphic Designer in Los Angeles, specializing in branding, typography and leadership. He holds an MFA in Graphic Design from ArtCenter College of Design.
---

extends ../_includes/layouts/base.pug

block content
    h1 ArtCenter Spring 2025 Graduation Show
    .grid-4
        div
            //- TODO: this will overflow x on tablet scale
            img(src="/img/Shakeel_Mohamed_headshot.png")
        div
            p Please join me to celebrate the completion of my Master of Fine Arts in Graphic Design from ArtCenter! Grad Show is a public event where I will show my projects in a curated gallery display. If you’re unable to attend, send me a text or email—I would love to catch up with you afterwards!
            br
            p 
                strong
                    a(href="https://www.icloud.com/invites/073mzZ3mToW9eku77lcZsJI6g", target="_blank") RSVP here and add it to your calendar!&nbsp;
                | Grad Show is open to the public, please bring your friends and share this page with anyone who is interested in design.
            //- TODO: put 1 liner for what kind of work I’m looking for
            br
            strong April 26, 2025, noon–5pm
            br
            p
                a(href="https://maps.app.goo.gl/qyTaHPb3DmxQYsFs6", target="_blank")
                    address(style="font-style: normal !important;")
                        strong Pasadena Convention Center
                        br
                        | Exhibit Halls A+B
                        br
                        | 300 East Green Street
                        br
                        | Pasadena, CA 91101
        //- TODO: divspan 2 columns
        div(style="grid-column: 3 / 5;")
            //- TODO: placeholder for biz cards + grad show wall below
            p 
                strong Virtual Graduation Experience
            br
            p For more details, see the&nbsp;
                a(href="https://www.artcenter.edu/connect/events/spring-2025-graduation-activities.html" target="_blank") grad show page on ArtCenter’s website.
            p The ceremony replay is available on&nbsp;
                a(href="https://www.youtube.com/watch?v=GHJut4doSPo", target="_blank") YouTube.
            br
            img(src="./grad_wall_WIP.png")
            