---
title: Shakeel Mohamed – Grad Show
description: Shakeel Mohamed is a Graphic Design MFA Candidate at ArtCenter College of Design.
---

extends ../_includes/layouts/base.pug

block content
    .grid-1
        h1 ArtCenter Spring 2025 Graduation
    .grid-2
        div
            p Grad Show is open to the public,&nbsp;
                strong
                    a(href="https://www.icloud.com/invites/073mzZ3mToW9eku77lcZsJI6g", target="_blank") RSVP here and add it to your calendar!
            br
            b April 26, 2025, 12–5pm
            a(href="https://maps.app.goo.gl/qyTaHPb3DmxQYsFs6", target="_blank")
                p Pasadena Convention Center
                    br
                    | Exhibit Halls A+B
                    br
                    | 300 E. Green Street
                    br
                    | Pasadena, CA 91101
        div
            p Stay tuned for more details, I will update this page with more details.
            p If you’re unable to attend, send me a text or email—I would love to catch up with you afterwards!
            
