/* TODO: figure out the correct way to do this w/ Tailwind */

/* BREAK specific styles */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

body {
    background-color: #FF5C0A !important;
}

header > nav > a:hover, a.header-logo:hover {
    color: white !important;
}

h1, h2, h3, h4, h5, .prose h1, .prose h2, .prose h3, .prose h4, .prose h5 {
    color: #002855 !important;
    font-family: Inter;
    font-weight: 700;
}

p, .prose p {
    color: white !important;
    font-family: Inter, sans-serif;
}

.social-link, .mailto {
    color: white !important;
}
.social-link:hover, .mailto:hover, a:hover, .prose a:hover, .mailto:hover {
    color: #002855 !important;
}