---
layout: project
title: "36 Days of Type"
tagline: Daily letterform experiments
description: Designing 36 daily letterforms to futher explore about typography.
openGraphImage: "open graph - 36 Days of Type 2021.png"
when: 2021 (6 weeks)
tools: Illustrator, After Effects, Procreate, Processing, Spline, Analog
tags:
    - project
    - archive
media: 
    - experimental typography
    - motion graphics
    - creative coding
goal: Continue exploring typography with letterforms, challenging myself to use different styles every day.
---
include ../../_includes/project_utils.pug

block content
    .grid-2
        div
            img(src="./HEADER-36DAYS-2560X1440-black.png" alt="The 36 Days of Type logo")
            p.caption The 36 Days of Type logo
        div
            p 36 Days of Type is a project that invites designers, illustrators and graphic artists to express their particular interpretation of the letters and numbers of the Latin alphabet. Every year it’s an opportunity for creatives worldwide to come together on Instagram, sharing their creations of the same letterform.
            br
            p After exploring poster compositions with my previous daily challenge, I participated in the challenge to focus on individual letterforms. Further, I challenged myself to use unfamiliar techniques and graphic styles.
    .grid-1
        div
            h2 Sketches
            img.my-2(src="./36-days-of-type-sketches.png" alt="A grid of 9 pencil and Procreate sketches of various letterforms")

    //- TODO: show a 4-up grid of my favorites
    .grid-1
        div
            h1 The Complete Set
            div
                img(src="./36-days-of-type-full-grid.png" alt="A six by six grid of all 36 letterforms designed during the project")
                p.caption During the challenge I designed these letterforms using a variety of styles, software, and media.
