---
layout: project
title: "Salgirah International Festival Identity"
tagline: [todo]
description: [todo]
openGraphImage: "https://freight.cargo.site/w/1920/q/94/i/53df80317c43763018291aa9834aa56982391d8b7b1a779f3fb411c8e63c4777/86th-Salgirah---cover.png"
when: 2021–2023 (annually)
client: The Ismaili Muslim community
tools: Illustrator, AfterEffects
tags:
    - project
    - portfolio
media: 
    - brand identity
    - motion graphics
goal: [todo]
position: 0
---
include ../../_includes/molecules.pug

block content
    p coming soon.