---
layout: project
title: "Referential Mono Typeface"
tagline: [todo]
description: [todo]
openGraphImage: "https://freight.cargo.site/w/1920/q/75/i/8a800589d397450713e2deb7a4e58b442d0492ea4ae78713a2494c6617f92eb3/Referential-Mono---cargo---cover.png"
when: 2023
client: [todo]
tools: Glyphs, Illustrator, InDesign, Figma
tags:
    - project
    - portfolio
media: 
    - type design
goal: [todo]
position: 3
---
include ../../_includes/molecules.pug

block content
    p coming soon.