---
title: BREAK Journaling – Shakeel Mohamed
description: A journaling framework for overcoming limiting beliefs
---

extends ../_includes/layouts/base.pug

//- TODO: this entire page has WIP copy

block hero
    link(href="./styles.css" rel="stylesheet")
    div
        h1 BREAK Journaling
        p.subhead BREAK is a journaling process I created while on vacation in Thailand just before the pandemic in February 2022. Days after a stressful project, I noticed myself ruminating on negative thoughts that I knew to be untrue.
            br
            | On the trip I noted all the limiting beliefs I observed and a fact or two to disprove them. After a few days of this, my anxiety subsided. I drafted this five-step process on my last night of vacation, knowing it was special.

block content
    :markdown-it(html=true)
        > ‼️Work in progress. ‼️

        This page should be in better shape by ~March 1, 2022.

        Until then, see my full story in [this presentation](https://tiny.cc/limiting-beliefs).


        # The Framework Steps

        ## BELIEF

        State the limiting belief.

        ## REFRAME

        How could you describe this situation without judgment?

        ## EMPOWER

        What is an empowering alternative belief?

        ## ATTEST

        List facts that disprove the limiting belief.


        ## KILL

        What can you do to totally eliminate the limiting belief?
