---
title: BREAK Journal – Shakeel Mohamed
description: I’m a self-taught designer, born and raised in the greater Seattle area.
---

extends ../_includes/layouts/base.pug
include ../_includes/molecules.pug

//- TODO: this entire page has WIP copy

block hero
    h2.text-navy BREAK Journal
    p.subhead.text-navy A journaling framework for overcoming limiting beliefs

block content
    h2.text-navy Coming Soon!
    p.text-navy This page should be updated by Jan 31, 2022. Stay tuned!

