---
layout: project
title: "Trinity Rep Rebrand (for TALISMAN)"
short: Trinity Rep
description: ""
openGraphImage: "img/TrinityRep - OG.png"
cover: ""
showCover: false
when: 2025–2026
client: "Trinity Repertory Company"
clientTeam: "Susanna Jacksons, Katie Liberman, Curt Columbus"
agencyName: TALISMAN
agencyTeam: "Silvia Diffenderfer, Lina Guerrero, Jacob Kemp, Jaimie McKay, Luke Meyer, Shakeel Mohamed, Anna O’Donoghue, Liana Pavane, Kelly Rogers, Lena Rose, Robi Ruocco, Natalie West, Andy Tomlinson, Adriana Tonello"
tools: Illustrator, InDesign, After Effects, Photoshop, Figma
tags:
    - project
    - portfolio
media: 
    - branding
    - print
    - environmental
goal: TODO
position: 2
thanks: "Special thanks to the WELTKERN type foundry and Greg Lindy of LuxTypo for type customization review."
---
include ../../_includes/project_utils.pug

//- agency leadership? ugh -- maybe make a nested agency object in the YAML
//- TALISMAN
//- Jacob Kemp
//- Chief Creative Officer
//- kemp@talismanco.com
//- Natalie West
//- Executive Creative Producer
//- west@talismanco.com

//- client leadership?
//- Trinity Rep
//- 
//- Susanna Jackson
//- Director of Marketing 
//- & Communications
//- 
//- Katie Liberman 
//- Executive Director
//- 
//- Curt Columbus
//- Artistic Director

//- E.g. Ze does it like this

//- Founder & Creative Director: Jessica Walsh

//- Copywriting:
//- Jessica Walsh, Lauren Walsh, Maggie Giles, Sam Galvao

//- Executive Team:
//- Lauren Walsh, Luciana Almeida, Ashley Einerson

//- Type Design and Development:
//- Sanchit Sawaria, Alex Slobzheninovl Cristi Bordeianul, Muhittin Güneş, Laura Csocsán, Renegade, Cuchillo, Metódica

//- Art Directors:
//- Lucas Luz, Sanchit Sawaria, Elinor O’Brien

//- Creative Team:

//- Katyayani Singh, Jeremy Rieger, Malika Nanda, Aqua Xie, Danaé Gosset, Julian Williams, Arthur Schwarz, Simoul Alva, Matthew Roop, Danyang Ma, Morgane VanTorre, Jada Akoto, Sasýk Mihal, Josh Krauth Harding, Marek Rybicki, Luiza Pfeifer, Javier Gutierrez, Jess Gracia, Julio Zukerman, Tais Kahatt, Zitong Zhao, Kristýna Jenčová, Maria Ducrocq, Marina Glikman, Riisa Liao, Claudia Nazionale, Juanse Carvajal, Victor Jobim, Carla Palette, Igor Fajardo, Fernando Farfán, Jiayue Li, Fabrizio Morra, Nicole Belskaya, Yuxin Zhou, Cristina Giménez, Regina Marin, Sofia Noronha, Leila Čičić, Ze Feng, Shakthi Hari N V, Lucas D’Ascenção, Carol Pinheiro, Arielle Casale, Sarah Hopp, Jenny Jiang, Luke Hall, Ta Kasitipradit, Eric Genesis, Mikey Kelly, Gabriel Abascal, Kaan Iscan, Lorenzo Cobo, Trey Holt, Pablo Garcia Robla, Jonas Rudis, Jacob Hwan Lee, Victor Belinatti, Will Rhodes, Andrew Bogard, Daniel Zepeda, Oscar Maia, Cuchillo.

//- Production Team:
//- Allison Raich, Emily Jing Sum Chan, Billy Allen, Rinny Shim


block content
    .grid-2
        div
            
        div
