---
layout: project
title: "Trinity Rep Rebrand (for TALISMAN)"
short: Trinity Rep
description: "Refreshing the brand of a public theater"
openGraphImage: "img/TrinityRep - OG.png"
cover: ""
showCover: false
when: 2025–2026
client: "Trinity Repertory Company"
clientTeam: "Susanna Jacksons, Katie Liberman, Curt Columbus"
agencyName: TALISMAN
agencyTeam: "Silvia Diffenderfer, Lina Guerrero, Jacob Kemp, Jaimie McKay, Luke Meyer, Shakeel Mohamed, Anna O’Donoghue, Liana Pavane, Kelly Rogers, Lena Rose, Robi Ruocco, Lenae Frazer, Natalie West, Andy Tomlinson, Adriana Tonello"
tools: Illustrator, InDesign, After Effects, Photoshop, Figma
tags:
    - project
    - portfolio
media: 
    - branding
    - print
    - environmental
goal: "Refreshing the brand of a public theater"
position: 2
thanks: "Special thanks to the WELTKERN type foundry and Greg Lindy of LuxTypo for type customization review."
---
include ../../_includes/project_utils.pug

block content
    .grid-2
        div
           p.bold Project documentation in progress.
        div
            p &nbsp;

    .grid-1
        +portfolioImg("./img/TrinityRep - 1.png", "", "")

