---
layout: project
title: "10k24 Studio Identity"
short: 10k24
description: ""
openGraphImage: "img/10k24 - OG.png"
cover: "img/10k24_cover.mp4"
showCover: false
when: 2025–2026
client: "10k24 Studio"
tools: Illustrator, InDesign, After Effects, Photoshop, Figma
//- tags:
    //- - project
    //- - portfolio
media: 
    - branding
    - motion
goal: TODO
position: 7
---
include ../../_includes/project_utils.pug

block content
    .grid-1
        +animation("img/10k24_reveal.mp4", "")
    .grid-2
        div
            
        div
