extends base.pug

block hero
    p.text-light-blue #{date}
    h1.text-white #{title}
    p.subhead.text-white #{description}

//- TODO: use article markup
block content
    +sectionWhite()
        div(class="prose")!= content