extends ./base.pug

block hero
    +centeredPage()
        p.text-black #{cleanDate}
        h1.text-black #{title}
        p.subhead.text-black #{description}
        //- TODO: display categories

//- TODO: use article markup
block content
    +centeredPage()
        div(class="prose")!= content