extends base.pug

block hero
    +container()
        +pLightBlue(date)
        +h1(title)
        +subheading(description)

block content
    +sectionWhite()
        +container()
            div(class="lg:mx-72")
                //- TODO: this text-base will probably break any headings, ditto for font-serif
                .prose.font-serif.text-base
                    != content
