extends ./base.pug

//- TODO: use article markup
block content
    .grid-4
        div
            p #{cleanDate}
            h1 #{title}
            p #{description}
        div(style="grid-column: 2 / 5;")
            //- TODO: display categories
            //- TODO: need to redo all these prose styles
            div(class="prose")!= content