extends ../../_includes_new/layouts/base.pug

block hero
    p.text-gray #{cleanDate}
    h2.text-navy #{title}
    p.subhead.text-navy #{description}
    //- TODO: display categories

//- TODO: use article markup
block content
    div(class="prose")!= content