extends ./base.pug

//- TODO: just use center 2 columns for this layout
block content
    article.post-layout
        div
            p #{cleanDate}
            //- p #{description}
        div
            strong #{title}
        div.post-body
            //- TODO: display categories
            div.post-content!= content