extends ./base.pug

//- TODO: use article markup
block content
    +gridCols2()
        div
            p #{cleanDate}
            h1 #{title}
            p.subhead #{description}
            //- TODO: display categories
            div(class="prose")!= content