extends base.pug

block hero
    +container()
        +pLightBlue(date)
        h1.text-white #{title}
        +subheading(description)

//- TODO: this text-base will probably break any headings, ditto for font-serif
block content
    +sectionWhite()
        +container()
            div(class="prose lg:mx-72")!= content