extends ./base.pug

block hero
    div
        //- TODO: all the metadata can go here; TBD
        //- e.g.: date, medium, role, team members
        h1.text-navy #{title}
        p.subhead.text-navy #{description}

//- TODO: design all possible layouts for a project
//- full screen image
//- half text / half image
//- full screen text

//- TODO: this text-base will probably break any headings, ditto for font-serif
block content
    div(class="prose")!= content