extends ./base.pug
include ../project_utils.pug

//- TODO: “see more like this” at the bottom of the page
//- TODO: clickable media types as tags -> pages for those tags
//- Doing one will make the other easy so should be ~1 day job
//- Easy to do here: https://v2-0-1.11ty.dev/docs/quicktips/tag-pages/

//- Think of the content as rows
block content
    if coverImg
        .grid-1
            +portfolioImg(coverImg, name + " cover image", "")
            br
    .grid-1
        h1 #{title}
        div.project-meta
            if media
                +projectMeta("Media", mediaString)
            if client
                +projectMeta("Client", client)
            if tools
                +projectMeta("Tools", tools)
            if goal
                +projectMeta("Goal", goal)
            if recognition
                +projectMeta("Recognition", recognition)
    !=content

    //- TODO: figure out how the design for mobile...
    if relatedProjects.prev && relatedProjects.next
        div
            hr
            .grid-2.keepDesktop
                +prevProject(relatedProjects.prev)
                +nextProject(relatedProjects.next)