extends ./base.pug
include ../project_utils.pug

//- TODO: clickable media types as tags -> pages for those tags
//- Doing one will make the other easy so should be ~1 day job
//- Easy to do here: https://v2-0-1.11ty.dev/docs/quicktips/tag-pages/

//- TODO: add structured markup for SEO
//- TODO: standardize the process markup, maybe 3 blocks: content, process, thanks?

block content
    if coverImg
        .grid-1
            +portfolioImg(coverImg, name + " cover image", "")
            br
    .grid-1
        h1 #{title}
    .grid-2
        div.project-meta
            if media && mediaString
                +projectMeta("Media", mediaString)
            if client
                +projectMeta("Client", client)
            if tools
                +projectMeta("Tools", tools)
            if goal
                +projectMeta("Goal", goal)
            if recognition
                +projectMeta("Recognition", recognition)
        div &nbsp;
    !=content

    if thanks
        .grid-2
            div
                p.bold Acknowledgements
                p !{thanks}

    //- TODO: figure out how the design for mobile...
    if relatedProjects.prev && relatedProjects.next
        div
            hr
            .grid-2.keepDesktop
                +prevProject(relatedProjects.prev)
                +nextProject(relatedProjects.next)