extends base.pug

block hero
    //- TODO: all the metadata can go here; TBD
    //- e.g.: date, medium, role, team members
    +container()
        h1.text-white #{title}
        p.subhead.text-white #{description}

//- TODO: design all possible layouts for a project
//- full screen image
//- half text / half image
//- full screen text

//- TODO: this text-base will probably break any headings, ditto for font-serif
block content
    +sectionWhite()
        +container()
            div(class="prose lg:mx-72")!= content