extends ./base.pug
include ../project_utils.pug

//- TODO: add structured markup for SEO
//- TODO: standardize the process markup, maybe 5 blocks: main, process, recognition, Acknowledgements, next related projects

block content
    if coverImg
        .grid-1
            +portfolioImg(coverImg, name + " cover image", "")
            br
    .grid-1
        h1.pb-0 #{title}
        div.project-meta
            p(style="color: #999999")!= mediaLinks
    .grid-2
        div.project-meta
            if client
                +projectMeta("Client", client)
            if tools
                +projectMeta("Tools", tools)
            if goal
                +projectMeta("Goal", goal)
            if recognition
                +projectMeta("Recognition", recognition)
        div &nbsp;
    !=content

    if thanks
        .grid-2
            div
                p.bold Acknowledgements
                p !{thanks}

    //- TODO: figure out how the design for mobile...
    if relatedProjects.prev && relatedProjects.next
        div
            hr
            .grid-2.keepDesktop
                +prevProject(relatedProjects.prev)
                +nextProject(relatedProjects.next)