script(type="application/ld+json").
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://shakeelmohamed.com/",
        "image": "https://s.gravatar.com/avatar/fce1af87b1acae9428fd82ee361a5bc0",
        "name": "ShakeelMohamed.com",
        "author": {
            "@type": "Person",
            "name": "Shakeel Mohamed",
            "email": "iam@shakeel.xyz",
            "jobTitle": "Software Engineer"
        },
        "contentLocation": {
            "@type": "City",
            "name": "Seattle"
        }
    }
script.
    if (window.location.protocol === "http:") {
        window.location.protocol = "https:";
    }

script(async src="https://www.googletagmanager.com/gtag/js?id=UA-36907845-2")
script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-36907845-2');
