include includes/mixins.pug

- var headshot="https://shakeelmohamed.com/img/headshot.jpg";
- var desc="Polyglot software developer energized by delivering customer value. Raises standards with comprehensive code reviews. Boosts engineering productivity with process automation. Committed to enhancing team dynamics through transparent communication.";
doctype html
html(lang="en")

    head
        +head(".", "Shakeel Mohamed", headshot, desc)
    body
        header.flex.center
            div.mx-auto
                div.nav.center
                    ul.nav-links.no-indent
                        +navLink("./", "Home")
                        +navLink("https://ntrsct.com/", "ntrsct designs")
                        +navLink("#projects", "Projects")
                        +navLink("./posts", "Blog Posts")
                        +navLink("#mentions", "Mentions")
                    figure
                        a(href="http://shakeelmohamed.com")
                            img.profile-photo(src=headshot alt="Photo of Shakeel Mohamed" title="Photo of Shakeel Mohamed")
                    h1.inline.h1.pr2 Shakeel Mohamed
                    p.post-content(style="text-align: center") #{desc}
                    ul.social-links.no-indent
                        each URL, name in socialLinks
                            +socialLink(URL, name)                
        section.flex.center
            div.flex-col.mx-auto
                h2#projects Projects
                hr
                ul.section-list.no-indent
                    each item in projects
                        +project(item)
        section.flex.center
            div.flex-col.mx-auto
                h2#blogs
                    | Blog Posts (
                    a(href="https://volleyy.com/shakeel/" target="_blank") subscribe
                    |  - 
                    a(href="./feed.xml" target="_blank") rss
                    | )
                hr
                ul.section-list.no-indent
                    each item in blogs
                        +blogPost(item)
        section.flex.center
            div.flex-col.mx-auto
                h2#mentions Mentions
                hr
                ul.section-list.no-indent
                    each item in mentions
                        +news(item)
        include includes/footer.pug