include includes/mixins.pug

doctype html
html(lang="en")
    head
        +head(relativePrefix, "Shakeel Mohamed | " + post.title, "https://shakeelmohamed.com/img/headshot.jpg", post.description, post.canonical)
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js")
        script.
            hljs.initHighlightingOnLoad();
        if post.canonical
            link(href=post.canonical, rel="canonical")
    body
        header.flex.center
            div.mx-auto
                ul.nav-links.no-indent
                    +navLink(relativePrefix, "Home")
                    +navLink("https://ntrsct.com/", "ntrsct")
                    +navLink(relativePrefix + "/index.html#projects", "Projects")
                    +navLink(relativePrefix + "/index.html#blogs", "Blog Posts")
                    +navLink(relativePrefix + "/index.html#mentions", "Mentions")
                div.nav.center
                    h1.inline.h1.pr2 Shakeel Mohamed
        section.flex.center
            div.flex-col.mx-auto
                h4 #{post.date}
                div.post-content()!= post.content
        include includes/footer.pug