include includes/mixins.pug

doctype html
html(lang="en")
    head
        +head(false, "Shakeel Mohamed | " + post.title, "https://shakeelmohamed.com/img/headshot.jpg", post.description)
    body
        header.flex.center
            div.mx-auto
                ul.nav-links.no-indent
                    +navLink("../", "Home")
                    +navLink("https://ntrsct.com/", "ntrsct")
                    +navLink("../index.html#projects", "Projects")
                    +navLink("../#blogs", "Blog Posts")
                    +navLink("../#mentions", "Mentions")
                div.nav.center
                    h1.inline.h1.pr2 Shakeel Mohamed
        section.flex.center
            div.flex-col.mx-auto
                h4 #{post.date}
                div.post-content(style="max-width:50%;margin:auto")!= post.content
        include includes/footer.pug