---
title: Shakeel Mohamed – About
description: Shakeel Mohamed is a candidate for an MFA in Graphic Design at ArtCenter College of Design.
---

extends ../_includes/layouts/base.pug
include ../_includes/molecules.pug
//- TODO: CTA for contact me for projects, or something? Maybe a separate services page?

block content
    .grid-4
        div.headshot
            img.lightbox(src="../img/Shakeel_Mohamed_headshot.png" alt="Headshot of Shakeel Mohamed")
        div
            strong I think inside, outside, and about the box itself.
        div(style="grid-column: 3 / 5;")
            p I thrive at the intersection of cultures, translating across perspectives to discover new ideas. My elementary school was on a Native American reservation where I was “the other Indian.” Early in life, I understood the nuances of personal identity which primed me for my second career in graphic design.
            br
            p The pursuit of mastery fuels everything I do. As a software engineer, I didn’t just write code; I crafted it to be efficient and elegantly formatted, making it intuitive for other developers. This attention to typography is now at the heart of my practice as a designer. My creative process is a synthesis of research, conversational insights, strategy, and empathy to connect with my audience.
            br
            p Please reach out for freelance or full-time opportunities, I am available starting May 2025.
            br
            p
                strong
                    a(href="" target=_blank) View my résumé here.  

    .grid-4.mt-4
        div
            p
                strong
                    |“The best way to predict the future is to create it”
                br
                |— Peter Drucker (attributed)
            br
            p
                strong I’m inspired by
            ol(style="padding-left: 3rem;")
                li Underdogs
                li Walking
                li Conversations
                li Music
                li Warmth
            br
            p
                strong Reminders to myself
            ol(style="padding-left: 3rem;")
                li Focus intensely, rest completely.
                li Take more (design) risks.
                li Explore more ideas than required.
                li Design is a spiritual practice.
                li When in doubt, talk it out.
        div
            p
                strong A few of my design heroes
                br
                | Debbie Millman, Wael Morcos, Brian Collins, Louise Sandhaus, Chris Do, and April Greiman.
        //- TODO: fix file extensions, this is crazy
        div(style="grid-column: 3 / 5;")
            .grid-3.lightbox-album(style="gap: 1rem;")
                img(src="./img/1.jpg")
                img(src="./img/4.jpg")
                img(src="./img/2.png")
                img(src="./img/5.jpg")
                img(src="./img/3.jpg")
                img(src="./img/6.jpg")
    
    //- TODO: show grid of presentations - maybe document AIGA LA Graphic Content too

    if mentions.recent.length > 0
        br        
        p.bold.h2 Mentions
            .grid-2
                +getMentions(true)
        p.bold See the&nbsp;
            a(href="/mentions") full list here.

    //- TOOD: can include thumbnails to presentations (AIGA PF, AIGA LA Graphic Content, etc)