---
layout: project
title: "MFA Thesis: Applied Designer"
description: Applied Designer seeks to empower graphic designers to use their skills in other jobs and industries.
//- TODO: update OG so stroke weight matches perfectly (make the comp in Processing probably)
openGraphImage: "./img/Thesis - opengraph.png"
when: 2024–2025
tools: InDesign, Illustrator, three.js, p5.js, Processing, basil.js, Blender, Photoshop, Figma
tags:
    - project
    - portfolio
media: 
    - research
    - book design
    - branding
    - environmental
goal: Expand the perceived value of designers.
recognition: Presented initial thesis research at Graph*c Content, a conference hosted by AIGA Los Angeles.
thanks: Special thanks to my thesis advisor Michael Neal, my thesis pod group (Hayley (Haowen) An, Ana Gwyn Wilson, Avantika (Yajing) Wu, Jen (Geyuzhen) Zhu), Sheharazad Fleming, Cheri Gray, Petrula Vrontikis, Martin Grasser, Robbie Nock, Simon Johnston, Paul Mendoza, Rubina Chadha, Dr. Cheryl D. Miller, Greg Lindy, Milka Broukhim, Gloria Kondrup, Jose Caballer, Eilís Russell, Dr. Dori Tunstall, Erika Abrams, Ali Torbati, Ivan J. Cruz, Amanda Mei, Reuben Merringer, Carolina Uscategui, Vy Huynh, the ArtCenter Gx Grind Club, and staff members of AIGA Los Angeles who supported the 2024 Graph*c Content design conference.
position: 3
---
include ../../_includes/project_utils.pug

block content
    .grid-2
        div
            p My thesis explores looking at new career possibilities for early and mid-career graphic designers. I created Applied Designer, part hiring agency, part advocacy platform, to support designers looking to make career changes. As we face economic uncertainty and rapid technological advancements, I believe Applied Designer is an opportunity to build a sustainable community of designers with meaningful creative careers.

        div
            p Follow along on Instagram
                strong &nbsp;
                    a(href="https://instagram.com/applieddesigner" target="_blank") @applieddesigner.
            p The microsite is available at
                strong &nbsp;
                    a(href="https://applieddesigner.com", target="_blank") applieddesigner.com
    .grid-1
        +portfolioImg("./img/Thesis - 1 - logo.png", "", "At the heart of my thesis is the Applied Designer identity. The wireframe aesthetic conveys the transparency I aim to bring to the design industry. The wordmark is created from <a href=\"/projects/referential-mono\">Referential Mono</a>, my first typeface.")
        +portfolioImg("./img/Thesis - trade show booth 2.png", "", "As a hiring agency, Applied Designer can meet early and mid-career designers at industry events like the AIGA national conference. This begins with a trade show booth.")
    .grid-2
        +portfolioImg("./img/Thesis - 3 - brochure.png", "", "Designers approaching the booth can access a number of training materials I created.")
        +portfolioImg("./img/Thesis - 3 - brochure spreads.png", "", "The career stages brochure maps out the 5 stages of a designer’s career, and lists other services Applied Designer offers, like personalized coaching.")

    .grid-1
        +portfolioImg("./img/Thesis - 4 - nametags.png", "", "At networking events, Applied Designers can create name tags based on their relevant career stage.")
        +portfolioImg("./img/Thesis - microsite.gif", "", "After engaging with the booth, designers can explore the 12 career archetypes on the microsite. Here, the logo comes to life as a 3 dimensional interface.")
        //- +portfolioImg("./img/Applied_Designer_thesis_loader.gif", "Wireframe animation of a dodecahedron, the Applied Designer logo, slowly rotating on a gray background.", "")

    .grid-2
        +portfolioImg("./img/thesis_social.png", "", "Instagram posts became a tool to inform the design community about Applied Designer methodologies and research.")
        +portfolioImg("./img/thesis_social_2.png", "", "The 12 designer archetypes are documented with case studies and descriptions.")



    //- TODO: process section is not complete
    hr
    h2 Process
    //- TODO: I should not need this br (see how Ontology is done), might be a CSS issue with .grid-1 vs grid-2
    br
    .grid-1
        +portfolioImg("./img/Applied_Designer_processing_sketch.gif", "", "I believe the design industry has no fixed position, so why should the logo for my thesis be a fixed form? The logo was created with, and came to life from my code written in Processing.")
    .grid-1
        +portfolioImg("./img/thesis_blender_process.png", "", "Working on the trade show booth 3D model in Blender.")
    .grid-2
        +portfolioImg("./img/AIGA_LA_01.png", "Shakeel Mohamed speaking at AIGA Los Angeles", "In November 2024, near the mid-point of my thesis, I gave a talk titled “Deconstructing ‘Best’: Redefining Success for Designers” at Graph*c Content, a conference hosted by AIGA Los Angeles.")
        +portfolioImg("./img/AIGA_LA_02.png", "", "119 slides of reflection, gratitude, and inspiration!")

    h2 Thank you Michael and PB &amp; Magick!
    .grid-2
        +portfolioImg("./img/thesis_pod.png", "", "My amazing thesis pod! Led by our advisor, professor Michael Neal. At the halfway point, after our fall semester final&nbsp;presentation.")
        +portfolioImg("./img/thesis_pod_final.png", "", "After our final presentation! Thank you is not enough to Michael and my incredibly supportive peers.")