---
layout: project
title: "MFA Thesis: Applied Designer"
tagline: [todo]
description: [todo]
openGraphImage: "./img/Thesis - opengraph.png"
when: 2024
tools: InDesign, Illustrator, Figma, p5.js
tags:
    - project
media: 
    - research
    - creative coding
goal: expand the perceived value of designers
recognition: presented initial thesis research at Graphic Content, a conference hosted by AIGA Los Angeles
position: 3
---

//- TODO: add portfolio tag above

include ../../_includes/project_utils.pug

block content
    .grid-2
        div
            p Please reach out by email, I would love to discuss my project with you! 
            p
                strong
                    a(href="https://calendly.com/shakeelm/thesis" target="_blank") Schedule a Zoom call with me here.
            br
            p This page will get an overhaul in the coming weeks, until then follow along on 
                strong
                    a(href="https://instagram.com/applieddesigner" target="_blank") Instagram @applieddesigner.
            p
                strong Last Updated: December 28, 2024

        div
            p The true power of graphic designers is realized when we apply our thinking to more than just visual problems.
            p Our industry’s obsession with “the best” is suffocating our creativity through a linear process.

            p It’s time for a new way to understand creative projects, one which allows for room to meander.
            p Design is a labyrinth, not a maze, a mindful creative exploration through skills, projects, collaborators, and insights.

            p I recently gave a talk titled “Deconstructing ‘Best’: Redefining Success for Designers” at a conference hosted by AIGA Los Angeles.
    .grid-1
        img(src="./img/SM_AIGA_LA_01.jpg" alt="Shakeel Mohamed speaking at AIGA Los Angeles")