---
layout: project
title: "MFA Thesis: Applied Designer"
tagline: [todo]
description: [todo]
openGraphImage: "./img/Thesis - opengraph.png"
when: 2024
tools: InDesign, Illustrator, Figma, p5.js, Processing
tags:
    - project
media: 
    - research
    - creative coding
goal: Expand the perceived value of designers.
recognition: Presented initial thesis research at Graphic Content, a conference hosted by AIGA Los Angeles.
position: 3
---

//- TODO: add portfolio tag above once this page is flushed out

include ../../_includes/project_utils.pug

block content
    .grid-2
        div
            p Please reach out by email, I would love to discuss my project with you!
            br
            p This page will get an overhaul in the coming weeks, until then follow along on 
                strong
                    a(href="https://instagram.com/applieddesigner" target="_blank") Instagram @applieddesigner.
            p
                strong Last Updated: February 03, 2025

        div
            p The true power of graphic designers is realized when we apply our thinking to more than just visual problems. Our industry’s obsession with “the best” is suffocating our creativity through a linear process. It’s time for a new way to understand creative projects, one which allows for room to meander. Design is a labyrinth, not a maze, a mindful creative exploration through skills, projects, collaborators, and insights.

            p I recently gave a talk titled “Deconstructing ‘Best’: Redefining Success for Designers” at a conference hosted by AIGA Los Angeles in November 2024.
    .grid-1
        img(src="./img/SM_AIGA_LA_01.jpg" alt="Shakeel Mohamed speaking at AIGA Los Angeles")