---
layout: project
title: "Mark Rothko Documentary Campaign"
short: Mark Rothko
description: "A campaign promoting a PBS documentary about Mark Rothko, the abstract expressionist artist."
openGraphImage: "./img/Rothko - cover.png"
when: 2023
tools: InDesign, Illustrator, Photoshop
tags: 
    - project
    - portfolio
media: 
    - branding
    - posters
    - book design
goal: "Invite the general public to learn about Mark Rothko’s life through the documentary."
position: 2
recognition: "One poster was selected for display in office of the Chair of Graphic Design at ArtCenter. One fabric poster was selected for display in the Lithographix ArtCenter Alumni Gallery."
thanks: "Special thanks to instructors Christian Perez-Morin, Cheri Gray, Greg Lindy, Sean Adams, Michael Neal, Brad Bartlett, ArtCenter alumni Erin Son and Sean Shang, with peer support from Vy Huynh, Xinman Jiang, Yvonne Ye, and Jen (Geyuzhen) Zhu. Additional thanks to the National Gallery of Art for high quality images of Rothko’s artwork, and to Architectural Digest for a beautiful photo of the Rothko Chapel."

---

//- Don’t love that I need this include in every project... doable for now
include ../../_includes/project_utils.pug

//- TODO: cleanup all the old metatags
//- TODO: in general, using too many images of the logo repeated (remember PV notes)
block content
    .grid-2
        div
            p I designed a wordmark, posters, and accompanying booklet for a campaign promoting a PBS documentary about Mark Rothko, the abstract expressionist. My design concept was: in memoriam.
        div
            p Depth of research and critique helped me to clarify the forms and vocabulary used throughout the project. Book colors were inspired by the Rothko Chapel in Houston, Texas. The non-denominational Chapel was one of Rothko’s final projects which he never saw completed before his passing.
        

    .grid-1
        +portfolioImg("./img/Mark_Rothko_campaign_cover.png", "", "A poster series promoting the documentary episode. By placing content over the paintings, the reader is required to view the painting more intimately.")
    
    //- TODO: move to about page under heroes section
    //- .grid-1
    //-     +portfolioImg("./img/Rothko---2.png", "", "Sean Adams, the former Department Chair of Graphic Design at ArtCenter, selected one poster from the set to display in his office.")

    //- Example, on mobile I don’t want this to flatten to 1 column
    //- .grid-2.keepDesktop
    //-     +portfolioImg("./img/Rothko---7.png", "", "The final wordmark set on a purple inspired by the colors of Rothko’s paintings in the Rothko Chapel. The primitive forms for “Mark” tie back to the primitive emotions evoked by his work. While “Rothko” is set in all caps to symbolize the monolithic scale of his paintings.")
    //-     +portfolioImg("./img/Rothko---8.png", "", "Varying the placement of “Mark” creates a dynamic element. Conceptually, this connects back to Mark Rothko’s many years of searching before finally settling on the style of art we know him for (and his legacy) as Rothko.")

    .grid-1
        +portfolioImg("./img/Rothko_wordmark_motion.gif", "", "Varying the placement of “Mark” creates a dynamic element. Conceptually, this connects back to Mark Rothko’s many years of searching before finally settling on the style of art we know him for (and his legacy) as Rothko.")
    .grid-1
        +portfolioImg("./img/Rothko_art_for_mystics_book_cover.png", "", "")
    //- TODO: find a better solution here
    .grid-2(style="margin-top: -0.25rem")
        div
            p Extending the identity to a booklet required a special consideration for messaging. I chose the title “Art for Mystics”, based on the following definition for mystical: inspiring a sense of spiritual mystery, awe, and fascination. This sense of awe is due partly to the scale of Rothko’s paintings.
        div
            p Table of Contents
            br
            ol
                li
                    strong Preface 
                    | — an introduction to Mark Rothko.
                li 
                    strong Search 
                    | — early explorations through his lesser known styles of art.
                li
                    strong Voice 
                    | — a photo essay of his best known abstract works.
                li
                    strong Wisdom 
                    | — his advice for new artists.
                li
                    strong Legacy 
                    | — an interview with Christopher Rothko, his son, which informed my overall design direction.
                li
                    strong Reflection 
                    | — my brief and emotional editorial capturing my thoughts as I completed the book.

    //- TODO: bring back the full book once this is updated
    //- .grid-1
    //-     +inDesign("https://indd.adobe.com/embed/0ce1fbfe-ae15-462d-b89c-fc8d21c9b685?startpage=1&amp;allowFullscreen=false", "The complete book is available for viewing above.")

    .grid-1
        +portfolioImg("./img/Rothko_search_spreads.gif", "", "His earlier and lesser known works inspired the various configurations of the wordmark.")
        +portfolioImg("./img/Rothko_key_spreads.gif", "", "Key spreads from the book, showing my take on typographic layouts. By keeping the layout quiet, the content becomes the primary focus for the reader.")
    .grid-2
        +portfolioImg("./img/Mark-Rothko-Documentary-Campaign---21.png", "", "Colors were inspired by the Rothko Chapel in Houston, Texas. The non-denominational Chapel was one of Rothko’s final projects which he never saw completed.")
        +portfolioImg("./img/Rothko_gradient_outro.gif", "", "Intro/outro: A few spreads guide the reader from from the everyday material world to that of the mystical, symbolized by a slow gray to purple gradient. The outro follows the sequence in reverse. This concept is based on an engawa, a Japanese architecture element to bridge the outside world to the home.")

    //- .grid-2
    //-     //- TODO: these images should be re-comped with a purple cover trim
    //-     +slider()
    //-         +portfolioImg("./img/Mark-Rothko-Documentary-Campaign---22.png", "Intro/outro: A few spreads guide the reader from from the everyday material world to that of the mystical, symbolized by a slow gray to purple gradient. The outro follows the sequence in reverse. This concept is based on an engawa, a Japanese architecture element to bridge the outside world to the home.")
    //-         +portfolioImg("./img/Mark-Rothko-Documentary-Campaign---23.png", "Intro/outro: A few spreads guide the reader from from the everyday material world to that of the mystical, symbolized by a slow gray to purple gradient. The outro follows the sequence in reverse. This concept is based on an engawa, a Japanese architecture element to bridge the outside world to the home.")
    //-         +portfolioImg("./img/Mark-Rothko-Documentary-Campaign---24.png", "Intro/outro: A few spreads guide the reader from from the everyday material world to that of the mystical, symbolized by a slow gray to purple gradient. The outro follows the sequence in reverse. This concept is based on an engawa, a Japanese architecture element to bridge the outside world to the home.")
    //-     +portfolioImg("./img/Mark-Rothko-Documentary-Campaign---25.png", "", "Recalling the definition of mysticism which inspired the publication title.")

    //- TODO: another slider for guts
    
    //- TODO: update this, maybe set both on a grid-2
    .grid-1
        //- +portfolioImg("./img/Rothko---9.png", "", "Envisioning the start of an opening title sequence for the documentary.")
        +video("./img/Rothko_TV_bug.mp4", "Displaying the identity lockup as an on-screen graphic (bug) during the documentary.", false)
        //- TODO: not sure if I really want plyr...
        //- link(rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css")
        //- script(src="https://cdn.plyr.io/3.7.8/plyr.js")
        //- video(id="player" playsinline controls autoplay)
        //-     source(src="./img/Rothko_TV_bug.mp4" type="video/mp4")
        //- script.
        //-   const player = new Plyr('#player', {ratio: "4096:2730"});

    hr
    h2 Process
    .grid-2
        +portfolioImg("./img/Rothko---5.png", "", "My research included reading Johanna Drucker’s recently released book, <i>Inventing the Alphabet</i> as I saught a deeper understanding for primitive letterforms. Conceptually, this aligned with Rothko’s ability to tap into the viewer’s primitive emotions with his artwork.")
        +portfolioImg("./img/Rothko---6.png", "", "Various sketches during the wordmark design process which ultimately led to me discovering the magic of this H-K ligature to minimize visual clutter.")

    .grid-1
        +portfolioImg("./img/Mark-Rothko-Documentary-Campaign---32.png", "", "This was the first editorial project that I shared on LinkedIn, and the post received some unexpected praise.")

    .grid-2
        +portfolioImg("./img/Rothko - 12.png", "", "I printed fabric posters to display at my graduation show, embracing the canvas materiality of Rothko’s paintings.")
        +portfolioImg("./img/Rothko - 11.png", "", "One of the fabric posters was selected for display in the Lithographix ArtCenter alumni gallery.")