---
layout: project
title: "Mindful Roman Typeface"
short: Mindful Roman
description: Mindful Roman is a rationally drawn transitional serif typeface for those embarking on a spiritual journey.
openGraphImage: "./img/Mindful Roman - opengraph.png"
when: 2024
tools: Glyphs, Illustrator, InDesign, Figma
tags:
    - project
    - portfolio
media: 
    - type design
goal: Design a typeface strongly informed by historical and contemporary references with a specific theme in mind.
recognition: Hoffmitz Milken Center for Typography (HMCT) gallery.
thanks: "Special thanks to instructor Greg Lindy, and mentor Jose Caballer. Additional thanks to Co-Star Astrology for copy used on the poster."
position: 7
---

include ../../_includes/molecules.pug
include ../../_includes/project_utils.pug

block content
    //- TODO: modularize the font stuff

    //- TODO: HMCT gallery photos!
    
    .grid-2
        div
            p Mindful Roman is a rationally drawn transitional serif typeface for those embarking on a spiritual journey. Mindful Roman is currently used for my name in any identity pieces for my personal brand (website, résumé, business cards, etc). Typeface references include: Ingeborg, Corporate A, Times New Roman, and Century Schoolbook.
            p I envision this typeface in use for branding, packaging, and editorial projects as a display typeface or for larger text settings. Specifically for projects focused on beauty, healthy lifestyle, and wellness which seek to establish trust.
        div
            p Future work includes: refined spacing, kerning pairs, sample print applications, and an italic variant. I would also like to create a few short motion pieces to demonstrate how the typeface is constructed and how it compares to its references.
            

    .grid-1
        +portfolioImg("./img/Mindful-Roman---cover.png", "", "")
    .grid-1
        +portfolioImg("./img/Mindful-Roman---1.png", "", "Poster concept: astrology chart for the birth date & time of the typeface.")
    .grid-1
        +portfolioImg("./img/Mindful-Roman---2.png", "", "")

    //- TODO: bring in font tester
    //- +fontTesterImports()

    .grid-1
        +portfolioImg("./img/Mindful-Roman---4.png", "", "")
    .grid-1
        +portfolioImg("./img/Mindful-Roman---3.png", "", "")
    .grid-2
        +portfolioImg("./img/Mindful-Roman---5.png", "", "")
        +portfolioImg("./img/Mindful-Roman---6.png", "", "")
    .grid-1
        +portfolioImg("./img/Mindful-Roman---7.png", "", "")
    .grid-2
        +portfolioImg("./img/Mindful-Roman---8.png", "", "WIP font design file in Glyphs.")

        +portfolioImg("./img/Mindful-Roman---9.png", "", "Process documentation binder, including weekly critiques.")