---
layout: project
title: Inclusion Tee
description: A t-shirt graphic emphasizing that you (ü) are at the center of inclusion
openGraphImage: "open graph - inclusion tee.png"
tags:
    - project
    - archive
media:
    - branding
    - apparel design
    - art direction
when: 2018 (2 months)
tools: Illustrator, Photoshop
goal: Through apparel, express one’s individual responsibility for creating an inclusive environment.
---
include ../../_includes/project_utils.pug

block content
    .grid-3
        div
            h2 Inspiration
            p In 2018 I started a clothing brand called&nbsp;
                a(href="https://ntrsct.com") ntrsct
                | , which has evolved into my independent design business.
            br
            p The logomark emerged from my fascination with the numerous aspects of one’s identity and finding ways to embrace them. An X is the simplest expression of an intersection, symbolizing the point where the many elements of our identity&nbsp;meet.
            br
            p Black and white in the graphic symbolize the (illusion of) maximum contrast of our differences. While Virgil Abloh’s brand Off-White stands for the grey area between black and white, I see it differently. To me, black is&nbsp;white.
            br
            p The Inclüsion Tee was the best-selling product while running the clothing&nbsp;brand.
            br
        div
            img(class="py-4", src="./off-white-tag.jpg", alt="Clothing tag from Off-white")
        div
            
            img(class="py-4 w-2/3", src="./hbz-virgil-611450214-1522065262.jpg", alt="The late Virgil Abloh with his hands in prayer")
            p.caption The late Virgil Abloh was the catalyst for my interest in design. One person can change your whole life.
                br
                | RIP Virgil Abloh (1980–2021)
            br
    .grid-1
        //- TODO: refactor out as a utility for vertical + horizontal centering
        div(class="flex justify-center items-center lg:h-screen" style="background-color: black;")
            img(class="mx-auto w-1/2", src="./ntrsct-logo-white.png", alt="The ntrsct designs logo, and X with ntrsct written out horizontally") 
            p.caption The ntrsct designs logo
    .grid-2
        div
            h1 It starts with yoü.
            div
                p I chose the German character, ü (u-umlaut), to symbolize the viewer (you) being the source of an inclusive environment—an ode to the reunification of East and West Germany after WWII. It also looks like a smiley face!
                br
                p This graphic resonated with me at a time when political and social issues were polarizing the American people.
                br
        div
    .grid-3
        div
            img(class="py-4 w-1/2" src="./inclusion-sketch.png", alt="An early sketch of the inclusion tee graphic from the Procreate app for iPad")
            p.caption From sketch to reality. The figure-ground ambiguity of the X was a happy accident while working in Adobe Illustrator.
        div
            div(style="background-color: black;")
                img(class="p-8", src="./inclusion-white.png", alt="The inclusion tee graphic, spelling out inclusion with an X in the negative space")
            p.caption.text-white The final graphic
        div
            img(class="mx-auto max-h-screen" src="./inclusion-tee-mockup.png", alt="A digital mockup of the inclusion graphic in black ink on a white t-shirt")
            p.caption Applied to a shirt
    br
    h2 Art Directed Photographs
    .grid-3
        img(src="./inclusion-tee-model-1.jpg", alt="")
        img(src="./inclusion-tee-model-2.jpg", alt="")
        //- TODO: need this image to match the aspect ratio of others
        img(src="./inclusion-tee-model-3.jpg", alt="")
    //- TODO: show DSC07070.jpg, needs cropping or a different photo