---
layout: project
title: Inclüsion t-shirt
description: A t-shirt graphic emphasizing that you (u) are at the center of inclusion — it starts with you
openGraphImage: "open graph - inclusion tee.png"
tags:
    - project
    - portfolio
position: 3
---

block content
    p This was the most successful design for the clothing brand I ran for a short time called ntrsct. The most exciting moment was DJ Accia wearing the shirt during a set at Trinity Nightclub in Seattle in 2019.