---
layout: project
title: Inclusion Tee
tagline: My first design adventure
description: A t-shirt graphic emphasizing that you (ü) are at the center of inclusion
openGraphImage: "open graph - inclusion tee.png"
tags:
    - project
    - portfolio
media:
    - branding
    - apparel design
    - apparel branding
    - art direction
when: 2018 (2 months)
client: Self-initiated / entrepreneurial
tools: Illustrator, Photoshop
goal: Through apparel, express one’s individual responsibility for creating an inclusive environment.
position: 3
---
include ../../_includes/molecules.pug

block content
    +gridCols2()
        div
            :markdown-it(html=true)
                ## &nbsp;
                In 2018 I started a clothing brand called [ntrsct (in•ter•sect)](https://ntrsct.com), which has evolved into my independent design business.
            br
            p The logomark emerged from my fascination with the numerous aspects of one’s identity and finding ways to embrace them. An X is the simplest expression of an intersection, symbolizing the point where the many elements of our identity meet.
            br
            p Black and white in the graphic symbolize the (illusion of) maximum contrast of our differences. While Virgil Abloh’s brand Off-White stands for the grey area between black and white, I see it differently. To me, black is white.
            br
            p The Inclüsion Tee was the best-selling product while running the clothing brand.
        div
            h2 Inspiration
            //- img here
            //- img here
            p.caption The late Virgil Abloh was the catalyst for my interest in design. One person can change your whole life.
                br
                strong RIP Virgil Abloh (1980–2021)
    +gridCols2()
        div
            h2 Company Logo
            //- img here
        div
            h2 Final Graphic
            //- img here
    +fullWidth("bg-black", "text-white")
        //- TODO: think about SEO ramifications of multiple h1 tags per page
        h1.font-serif It starts with yoü.
        +gridCols2()
            div
                p.text-white I chose the German character, ü (u-umlaut), to symbolize the viewer (you) being the source of an inclusive environment—an ode to the reunification of East and West Germany after WWII. It also looks like a smiley face!
                br
                p.text-white This graphic resonated with me at a time when political and social issues were polarizing the American people.
            div
                //- img here
                p.caption.text-white From sketch to reality. The figure-ground ambiguity of the X was a happy accident while working in Adobe Illustrator.
    //- TODO: finish with the 4 photos, ideally full bleed