---
layout: project
title: "TYPO Mexico City"
tagline: [todo]
description: [todo]
openGraphImage: "https://freight.cargo.site/w/1000/q/75/i/4c9cc23aa94eb785d72e457d30daf6908fb7737ccd48c328e2bf8bf8988b4d8c/TYPO---cover.png"
when: 2023
client: [todo]
tools: InDesign, Illustrator, Photoshop
tags:
    - project
    - portfolio
media: 
    - brand identity
    - posters
    - apparel
    - augmented Reality
goal: [todo]
position: 4
---
include ../../_includes/molecules.pug

block content
    p coming soon.