---
layout: project
title: "TYPO Mexico City Conference Identity"
tagline: [todo]
description: [todo]
openGraphImage: "./img/TYPO - opengraph.png"
when: 2023
tools: InDesign, Illustrator, Photoshop
tags:
    - project
    - portfolio
media: 
    - branding
    - posters
    - merchandise
    - augmented reality
    - motion
goal: embrace the idea of post-pandemic community building through a design conference
recognition: selected to present this project at a Type Thursday LA meetup
position: 3
---
include ../../_includes/project_utils.pug

block content
    .grid-2
        div
            p Conferences are about the exchange of ideas and perspectives, design conferences should also be great fun. I chose this playful arrangement of curved organic letterforms to symbolize these concepts.
            br
            p Special thanks to: River Jukes-Hudson, Cheri Gray, Shuwen Ding, and Shengjie Wu, and the great audience at Type Thursday LA for additional critique.
        div
            p I selected a list of typographers to feature for the conference, designed a wordmark, 3' x 6' feet posters, t-shirts, name badges and restricted my color palette to black and white.
            br
            p The conference venue, Museo Tamayo Arte Contemporáneo, has a sharp, brutalist architectural style. My identity design embraces the human aspect of the design community as a juxtaposition.
            br
            p I also designed stickers and an augmented reality motion poster with a direct call to action to register for the conference.

    //- TODO: add captions
    .grid-1
        +portfolioImg("https://freight.cargo.site/w/1920/q/94/i/4c9cc23aa94eb785d72e457d30daf6908fb7737ccd48c328e2bf8bf8988b4d8c/TYPO---cover.png", "", "")
        +portfolioImg("https://freight.cargo.site/w/1920/q/94/i/b9e45cf8c04ce9ae59ff82c6947cb1af4dfdddfa49194a37dd824ac54aa99e72/TYPO---1.png", "", "")
        +video("https://files.cargocollective.com/c1603295/widescreen.mp4", "")
        +portfolioImg("https://freight.cargo.site/w/1920/q/94/i/2e654b5aaec98fbc3e77ada9a25eb23563d4f060462ddfa0fcd63fda472024f5/TYPO---3.png", "", "")
        +portfolioImg("https://freight.cargo.site/w/1920/q/94/i/84a15e46504f339899abae68db76b47f621ab9a00b5e6b94e57df78add8bf90e/TYPO---4.png", "", "")
        +portfolioImg("https://freight.cargo.site/w/1920/q/94/i/6ddb1112a103f1e101b56b09340b78db0c6301511fc3c2a835744cabbde9a095/TYPO---5.png", "", "")
        +portfolioImg("https://freight.cargo.site/w/1920/q/94/i/8f6b5af008b4bb330ccd74f814d965250bc704fa8a91f70f68e252b435b13def/TYPO---6.png", "", "")
        +portfolioImg("https://freight.cargo.site/w/1920/q/94/i/19a62258bd2915ac40bf0d034d8800a9282769f7440ee31851530d07dd4f5adb/TYPO---7.png", "", "")
        +portfolioImg("https://freight.cargo.site/w/1920/q/94/i/ee87a90f5f7ebb911739a9a0f846faa07a1d148fc6144c7af70fce09be994343/TYPO---8.png", "", "")