---
layout: project
title: "TYPO Mexico City Conference Identity"
short: "TYPO Mexico City"
description: "Identity design for a fictional design conference in Mexico City."
openGraphImage: "./img/TYPO - opengraph.png"
when: 2023
tools: InDesign, Illustrator, Photoshop, Artivive, After Effects
tags:
    - project
    - portfolio
media:
    - branding
    - print
    - merchandise
    - augmented reality
    - motion graphics
goal: "To express the idea of post-pandemic community building for a design conference identity."
recognition: "Selected to present this project at a Type Thursday LA meetup."
thanks: "Special thanks to instructors River Jukes-Hudson and Cheri Gray, fellow students Shuwen Ding and Shengjie Wu, and the great audience at Type Thursday LA for additional critique."
position: 8
---

include ../../_includes/project_utils.pug

block content
    .grid-2
        div
            p Conferences are about the exchange of ideas and perspectives, design conferences should also be great fun. I chose this playful arrangement of curved organic letterforms to symbolize these concepts.
            br
            p The conference venue, Museo Tamayo Arte Contemporáneo, has a sharp, brutalist architectural style. My identity design embraces the human aspect of the design community as a juxtaposition.
        div
            p I selected a list of typographers to feature for the conference, designed a wordmark, 3' x 6' feet posters, t-shirts, name badges and restricted my color palette to black and white.
            br
            p I also designed stickers and an augmented reality motion poster with a direct call to action to register for the conference.

    //- TODO: need some process
    .grid-1
        +portfolioImg("./img/TYPO---cover.png", "", "Promotional signage for the event.")
        +portfolioImg("./img/TYPO---1.png", "", "Large format banners, 3' x 6' featuring the names of all conference speakers. The venue, Museo Tamayo Arte Contemporáneo, is in the background.")
        +video("./img/typo-AR.mp4", "Augmented reality poster triggered using Artivive. Motion graphics created in After Effects.")
    .grid-2
        +portfolioImg("./img/TYPO---4.png", "", "The identity applied on shirts at large scale.")
        +portfolioImg("./img/TYPO---3.png", "", "White t-shirts for conference attendees, black t-shirts for event staff.")
    .grid-1
        +portfolioImg("./img/TYPO---5.png", "", "Name badges for conference attendees, speakers, and panelists.")
        +portfolioImg("./img/TYPO---6.png", "", "TYPO stickers!")
        +portfolioImg("./img/TYPO---8.png", "", "The primary identity lockup.")
        //- +portfolioImg("./img/TYPO---7.png", "", "")
