---
layout: project
title: BREAK Journal
description: A guided journal for overcoming limiting beliefs
openGraphImage: "open graph - BREAK.png"
tags:
    - project
    - portfolio
media: 
    - booklet design
    - branding
    - print
position: 1
---

block content
    .prose
        :markdown-it(html=true)
            While vacationing in Thailand in 2020 (before the pandemic), I came up with a set of journaling prompts to overcome my own limiting beliefs.

            After proving the process on myself for a year, I began to share it with friends with very positive feedback.

            Some highlights include being embraced by Faces from Places (a creative entrepreneur mastermind group) and La Corvata (a Spanish-speaking design and marketing community, with over 30k followers on Instagram).

            🚧 This page will be updated with more details soon! 🚧
            Stay tuned for some beautiful typography.

            Until then, check out the full journaling [framework on Google Slides](https://tiny.cc/limiting-beliefs).