---
layout: project
title: "Planetary Society Rebrand"
tagline: [todo]
description: "Bringing a philosophical and meditative approach to space exploration"
openGraphImage: "./img/Planetary Society - opengraph.png"
when: 2024
tools: Illustrator, Photoshop, InDesign, After Effects, Glyphs, three.js, Houdini, Keynote, Figma
tags:
    - project
media: 
    - branding
    - strategy
    - motion graphics
    - type design
    - creative coding
goal: "bring a philosophical and meditative approach to space exploration"
position: 5
---
include ../../_includes/project_utils.pug

//- TODO: add portfolio tag once remaining content is added

block content
    .grid-2
        div
            p Planetary Society is a non-profit organization focused on advocacy for space exploration and based in Pasadena, California. Bill Nye is currently their CEO.
            br
            p Special thanks to: Andrew Pauly of The Planetary Society, Stephen Serrato, Carolina Uscategui, and Jack McEntee.
        div
            p Though the Planetary Society focused on space enthusiasts in general, I wanted to expand that a bit. By exploring the profound human experience of our relationship to the massive scale of the cosmos. 
            p I also created a special brand style for the Society’s 45th anniversary including a custom modular and variable typeface inspired by planetary orbits. For the 45th anniversary I envisioned a weekend celebration event on Catalina Island.

    //- TODO: production work to resize all images for this project
    //- TODO: need jacket mockups somehow in context
    .grid-1
        +portfolioImg("./img/Planetary_Society_posters_Paseo_Colorado.png", "Planetary Society posters at Paseo Colorado outdoor mall in Pasadena, California", "Planetary Society posters at Paseo Colorado outdoor mall")
    .grid-1
        +video("./img/Planetary_Society_logo_reveal.mp4", "Logo reveal animation inspired by the big bang and invention of Lightsail")