---
layout: project
title: "Planetary Society Rebrand"
short: Planetary Society
description: "Bringing a philosophical and meditative approach to space exploration"
openGraphImage: "./img/Planetary Society - opengraph.png"
when: 2024
tools: Illustrator, Photoshop, InDesign, After Effects, Glyphs, three.js, Houdini, Keynote, Figma
tags:
    - project
    - portfolio
media: 
    - branding
    - strategy
    - motion
    - type design
    - research
    - print
//- TODO: bring back creative coding once those digital posters are ready
goal: "Bring philosophical and meditative ideas into the visual language of space exploration"
recognition: "Two posters were accepted by The Planetary Society and on display at their HQ office in Pasadena, California; ArtCenter student gallery."
thanks: "Special thanks to instructors Stephen Serrato, Jack McEntee, and Greg Lindy, Andrew Pauly of The Planetary Society, and alumni Carolina Uscategui."
position: 4
---
include ../../_includes/project_utils.pug


block content
    .grid-2
        div
            p The Planetary Society is a non-profit organization focused on advocacy for space exploration and based in Pasadena, California. Bill Nye is currently their CEO. Though the Planetary Society focused on space enthusiasts in general, I wanted to expand that a bit. By exploring the profound human experience of our relationship to the massive scale of the cosmos. Using a primary serif typeface, all brand touchpoints take on an elevated feeling.
        div
            p Removing “The” from the organization’s name allowed for a more recognizable shorthand. I also designed a special brand style for the Society’s 45th anniversary including a custom modular and variable typeface inspired by planetary orbits. For the 45th anniversary I envisioned a weekend celebration event on Catalina Island for members and donors to come together in a community setting.

    //- TODO: production work to resize all images for this project
    //- TODO: need jacket mockups somehow in context
    .grid-1
        +portfolioImg("./img/Planetary_Society_logo_reveal.gif", "", "Logo reveal animation inspired by the big bang.")
        +portfolioImg("./img/TPS - 1.png", "Planetary Society posters at Paseo Colorado a nearby outdoor mall in Pasadena, California", "Planetary Society posters at the nearby Paseo Colorado outdoor mall.")
    .grid-2
        +portfolioImg("./img/TPS - lightsail.png", "", "The logo was inspired by the invention of Lightsail—a member-funded invention by The Planetary Society, enabling spacecraft to propel using only sunlight.")
        +portfolioImg("./img/Planetary_Society_ID_overview.png", "", "Overview of the identity system, I chose a serif typeface to break the standard of retro-sci-fi many aerospace companies use. In doing so, any brand messaging takes on a timeless feeling aligned with my concept of contemplation about space.")
    .grid-1
        +portfolioImg("./img/TPS - 2.png", "", "Two-tone business card system.")
        +portfolioImg("./img/TPS - 8.png", "", "A manifesto poster for Planetary Society headquarters, serving as an inspirational reminder for employees.")
    .grid-2
        +portfolioImg("./img/TPS - 7.png", "", "Exterior signage at Planetary Society headquarters in Pasadena, CA. Photography and editing by me.")
        +portfolioImg("./img/TPS - 6.png", "", "Building signage at Planetary Society headquarters in Pasadena, CA. Photography and editing by me.")
    .grid-1
        //- TOD: can I mock up the metallic poster that I wanted to print? (yes)
        +portfolioImg("./img/TPS - 4.png", "", "2025 marks 45 years since the Planetary Society was founded. I designed promotional posters for a 45th anniversary retreat on Catalina Island for members and donors. The 45th anniversary identity takes on a distinct color palette and typographic voice inspired by the natural beauty of Catalina Island.")
    //- .grid-2
        //- TODO: why are these colors different omg
        +portfolioImg("./img/TPS - 3.png", "", "Modular typeface inspired by planetary orbits. The new colors are inspired by lush seascapes on Catalina Island.")
    .grid-1
        +portfolioImg("./img/planetary-society-sans.gif", "Planetary Society Sans variable weight font animation.", "Planetary Society Sans is a variable weight font I designed to be the typographic voice for their 45th anniversary. The modular typeface is inspired by planetary orbits, and can be used to create dynamic compositions when used at large scale.")
    .grid-1
        +portfolioImg("./img/TPS - 9.png", "", "Event tickets for general admission and Planetary Support (VIP) levels of donors. These are samples of a larger printed invitation package, currently in progress.")
    .grid-2
        +portfolioImg("./img/TPS - 15.png", "", "After meeting with the Marketing Director at their HQ, they chose two of my posters to display in the office.")
        +portfolioImg("./img/TPS - 16.png", "", "One poster was chosen for display in the ArtCenter student gallery.")
        
        