---
layout: project
title: Daily Lyric posters
description: Designing lyric posters with experimental typography every day during the month of January 2020.
tags:
    - project
    - portfolio
position: 2
openGraphImage: "open graph - lyric posters.png"
---

block content
    .prose
        :markdown-it(html=true)
            Of the 31 days in January, I ended up designing 24 daily posters - this was a huge win for me in terms of going through design process and sharing my results on Instagram every day. Yup, I missed 7 days total and I have **no regrets**. Life got crazy, and I'm learning to love myself enough to not stress over perfection. I decided to have each poster represent song lyrics that have really impacted me from my favorite artists: **24 unique artists for 24 days**.