---
layout: project
title: Daily Lyric Posters
description: Designing lyric posters with experimental typography for a month
tags:
    - project
    - portfolio
position: 2
openGraphImage: "open graph - lyric posters.png"
---

block content
    .prose
        :markdown-it(html=true)
            Of the 31 days in January, I ended up designing 24 daily posters - this was a huge win for me in terms of going through design process and sharing my results on Instagram every day. I decided to have each poster represent song lyrics that have really impacted me from my favorite artists: **24 unique artists for 24 days**

            🚧 This page will be updated with more details soon! 🚧

            ![Poster 01](../../posts/2020-02-10-24-31-days-of-designing-lyric-posters/poster-01.png)

            ![Poster 05](../../posts/2020-02-10-24-31-days-of-designing-lyric-posters/poster-05.png)

            ![Poster 17](../../posts/2020-02-10-24-31-days-of-designing-lyric-posters/poster-17.png)

            ![Poster 18](../../posts/2020-02-10-24-31-days-of-designing-lyric-posters/poster-18.png)