---
description: Shakeel Mohamed is a Graphic Design MFA Candidate at ArtCenter College of Design.
---

extends ../_includes/layouts/base.pug

block content
    .grid-1
        h1 Welcome to my Labyrinth
    .grid-2
        div
            p Design, like a labyrinth, is not about rushing to the end but discovery along the way. Unlike a maze, which focuses on solving and escaping, a labyrinth invites mindful exploration. The winding path of creativity reflects the cyclical nature of design. Each project offers new ideas and insights building upon the last.
        div
            //- TODO: row of icons; https://github.com/marella/material-design-icons/tree/main/font#readme
            p This is my home for archived, unpolished, philosophical creative exploration.
                br
                | You can drag these items around, have fun!

    .grid-1
        .labyrinth(id="labyrinth")
        //- TODO: the whole labyrinth itself
        //- Can use this JS library https://github.com/desandro/draggabilly
        //- and this for regular albums https://www.lightgalleryjs.com/
    <script src="https://unpkg.com/draggabilly@3/dist/draggabilly.pkgd.min.js"></script>
    <script src="../scripts/labyrinth.js"></script>
