---
description: Strategic brand designer in Los Angeles specializing in identity design, typography, and systems thinking. Available for freelance and full-time opportunities.
permalink: "/404.html"
dynamicPermalink: false
eleventyExcludeFromCollections: true
---

extends _includes/layouts/base.pug
include _includes/molecules.pug

block content

    div
        h1(style="text-align: center;") Oh no, that page doesn’t exist!
        //- TODO: replace this gif with a stitch of these, or something more related to my name
        //- - https://giphy.com/gifs/nba-basketball-shaq-shaquille-oneal-3oGNDyldXaMAzqks80
        //- - https://giphy.com/gifs/hbo-whats-my-name-documentary-hrvHU8XsoGufEvcDr3
        picture
            source(srcset="/assets/img/kendrick-lamar-super-bowl.webp" type="image/webp")
            source(srcset="/assets/img/kendrick-lamar-super-bowl.jpeg" type="image/jpeg")
            img(src="/assets/img/kendrick-lamar-super-bowl.jpeg" 
                alt="Kendrick Lamar Super Bowl GIF"
                style="max-width: 450px; margin: 0 auto;"
                loading="lazy"
                decoding="async")

    script.
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
          "event" : "404 - page not found"
        });