---
title: Shakeel Mohamed – Blog
description: Through writing, I like to reflect about problems I’ve solved, experiences I’ve had, and how to do things that were once difficult for me.
canonical: "/blog"
---

extends _includes/layouts/base.pug

//- Temporary workaround: this file is blog.pug, symlinked to posts.pug for legacy SEO

block hero
    +centeredPage()
        h1 The Blog ✍🏽
        p #{description}

block content
    +centeredPage()
        h2 Featured Posts
        +getFeaturedPosts()
        h2 Recent Posts
        +getPosts(true)
        br
        p.subhead Keep reading in the 
            a(href="/blog-archive") archive.