---
title: Blog post archive by Shakeel Mohamed
description: "The archive of all blog posts I've written in the past"
canonical: "/blog-archive"
---

extends _includes/layouts/base.pug

block hero
    h1.text-white Blog Archive
    p.subhead.text-white #{description}

block content
    +sectionWhite()
        +gridWithBigColumn()
            h2.text-navy All Posts
            +getPosts()