---
title: Shakeel Mohamed – Blog Archive
description: "The archive of all blog posts I've written in the past"
canonical: "/blog-archive"
---

extends _includes/layouts/base.pug

block hero
    +centeredPage()
        h1.text-navy Blog Archive
        p #{description}

block content
    +centeredPage()
        h2.text-navy All Posts
        +getPosts()