---
title: Shakeel Mohamed – Blog Archive
description: "The archive of all blog posts I've written in the past"
canonical: "/blog-archive"
---

extends _includes/layouts/base.pug

block hero
    h2.text-navy Blog Archive
    p.text-navy #{description}

block content
    h3.text-navy All Posts
    +getPosts()