---
title: Shakeel Mohamed – Blog Archive
description: "The archive of all blog posts I’ve written in the past"
canonical: "/blog-archive"
---

extends _includes/layouts/base.pug

block content
    +centeredPage()
        h1 Blog Archive
        p #{description}
        h2 All Posts
        +getPosts()