extends _includes/layouts/base.pug
include _includes/molecules.pug

//- TODO: this entire page has WIP copy

block hero
    +container()
        +h1("Say Hello! 👋🏽 ")
        //- TODO: links on IG/LinkedIn
        +subheading
            | Send me a DM on LinkedIn or Instagram!
        +subheading
            | Otherwise, send me an email at
            +mailto("iam", "shakeel.xyz", "Hey, I love your website!")
        //- TODO: add link for website
        +subheading
            | For project inquiries, reach out through my business website:  
            a(href="https://ntrsct.com") ntrsct.com 
            |

block content
    //- +sectionOrange() 
    //-     +container()
    //-         div(class="py-4 lg:mx-72")
    //-             //- TODO: look at tailwind forms, make a component
    //-             +p("Form coming soon")

mixin mailto(user, domain, subject)
    //- <!-- // http://lists.evolt.org/archive/Week-of-Mon-20040202/154813.html -->
    span.mailto
        script(type="text/javascript").
            function gen_mail_to_link(lhs, rhs, subject) {
                document.write("<a href=\"mailto");
                document.write(":" + lhs + "@");
                document.write(rhs + "?subject=" + subject + "\">" + lhs + "@" + rhs + "<\/a>");
            }
            gen_mail_to_link("#{user}", "#{domain}", "#{subject}")
