---
description: Shakeel Mohamed is a designer & brand strategist in the greater Seattle area.
---

extends _includes/layouts/base.pug

block hero
    div
        h1.text-navy Developer turned designer
        p.font-light.font-sans.text-lg
            | Hello, I’m Shakeel! I’m a visual designer in Seattle, specializing in branding and experimental typography. After over 10 years of working as a software engineer, I began exploring my creative side. I’ve recently applied to graduate design programs with the intent of learning more about typography, branding, and design leadership.
        br
        p.font-light.font-sans Say hello!
            +myEmail()

block content
   if collections.portfolio
        each project in collections.portfolio
            +projectListing(project)