extends _includes/layouts/base.pug
include _includes/molecules.pug

block hero
    div(class="mx-4 my-8")
        +h1("Hello from Seattle! 🌲")
        +subheading("I’m a software engineer turned designer applying to design MFA programs.")
        br
        +subheading("Keep scrolling to check out my portfolio ⬇️")

block content
    +h2("Projects", true)
    +sectionWhite()
        div(class="mx-4 my-8")
            +projectListing("BREAK a Journaling Framework for Overcoming Limiting Beliefs", "photo url", "summary")
            +projectListing("Daily Lyric Posters", "photo url", "summary")
            +projectListing("Inclüsion T-shirt Design", "photo url", "summary")