---
description: Shakeel Mohamed is a designer & brand strategist in the greater Seattle area.
---

extends _includes_new/layouts/base.pug
//- include _includes/molecules.pug

block hero
    h2.text-navy Developer turned designer
    p.subhead.text-navy.font-light(class="w-1/2")
        | I’m a visual designer in Seattle, specializing in branding and experimental typography. After over 10 years working a software engineer, I began exploring my creative side. I’ve recently applied to graduate design programs, looking to learn more about typography, branding, and design leadership.
    br
    p.subhead.text-navy.font-light(class="w-1/2") Say hello! contact@shakeelmohamed.com.


//- block content
    // if collections.portfolio
        // +sectionWhite()
        //     +gridWithBigColumn()
        //         h2.text-navy Projects
        //         each project in collections.portfolio
        //             +projectListing(project)