---
description: Shakeel Mohamed is a designer & graduate student at ArtCenter College of Design.
---

extends _includes/layouts/base.pug

block hero
    +gridCols2()
        div
            p
                b Developer turned designer
            p
                | Hello, I’m Shakeel! I’m a Graduate Graphic Design student at ArtCenter College of Design interested in branding, typography, creative technology, and design leadership. After 10 years of working as a software engineer, I began exploring my creative side.
            br
            p
                | Say hello!
                +myEmail()
            p
                b
                    | My design portfolio is available at 
                    a(href="https://shakeel.design") shakeel.design


block content
    //- TODO: rework this to collections.home or something; goal is to have multiple blocks of content.
    //- could be projects, videos, bio, etc.
    //- if collections.portfolio
    //-     +gridCols2()
    //-         each project in collections.portfolio
    //-             +projectListing(project)