include _includes/atoms.pug

+head()
    title Shakeel Mohamed
body(class="bg-navy md:container md:mx-auto")
    +header()
    main
    //- section //- for projects
    footer
    //- p.font-sans testing sans
    //- p.font-serif testing serif
    //- p.font-pm testing PN