---
title: Shakeel Mohamed – Links
description: Shakeel Mohamed is a designer & brand strategist in the greater Seattle area.
canonical: "/links"
---

extends _includes/layouts/base.pug

block hero
    +centeredPage()
        h1 Links 🔗
        img(src="/img/headshot.jpg" alt="Shakeel Mohamed headshot" class="w-1/3 rounded-full")
        br
        p #{description}

block content
    +centeredPage()
        +links()
        h2 Recent Posts
        +getPosts(true)
        br
        p.subhead Keep reading in the 
            a(href="/blog-archive") archive.

mixin links()
    each link in links
        +link(link.text, link.url)

mixin link(label, url)
    a(href=url)
        button.link-button(type="button")
            h3(style="padding: 12px 24px") #{label}