---
title: Shakeel Mohamed – Links
description: Shakeel Mohamed is a Graphic Desinger in Los Angeles, specializing in branding, typography and leadership. He holds an MFA in Graphic Design from ArtCenter College of Design.
canonical: "/links"
---

extends _includes/layouts/base.pug

block content
    .grid-1
        h2 Links
        br
    .grid-2
        +links()

    //- TODO: bring these back once there’s a new mixin so they look like linktree buttons
    //- h2 Recent Posts
    //- +getPosts(true)
    //- br
    //- p.subhead Keep reading in the 
    //-     a(href="/blog-archive") archive.

mixin links()
    each link in links
        +link(link.text, link.url)

mixin link(label, url)
    a(href=url)
        button.link-button.bg-black(type="button")
            h3(style="padding: 12px 24px") #{label}