---
title: Mentions of Shakeel Mohamed
description: "Exciting things I’ve done in the past"
canonical: "/mentions"
---

extends _includes_new/layouts/base.pug

block hero
    h2.text-navy All Mentions
    p.text-navy #{description}

block content
    .px-8.pb-12
        +getMentions()