---
title: Shakeel Mohamed – Mentions
description: "It’s not exactly press..."
canonical: "/mentions"
---

extends _includes/layouts/base.pug

block content
    +gridCols2()
        div
            h1 All Mentions
            p.subhead #{description}
            +getMentions()