---
title: Shakeel Mohamed – Mentions
description: "It’s not exactly press..."
canonical: "/mentions"
---

extends _includes/layouts/base.pug

block hero
    div
        h1.text-navy All Mentions
        p.text-navy #{description}

block content
    +getMentions()