---
title: Mentions | Shakeel Mohamed — Strategic Brand Designer
description: "It’s not exactly press..."
canonical: "/mentions"
---

//- TODO: revise this, wow

extends _includes/layouts/base.pug

block content
    +gridCols2()
        div
            h1 All Mentions
            p.subhead #{description}
            +getMentions()