---
title: Shakeel Mohamed – Mentions
description: "Exciting things I’ve done in the past"
canonical: "/mentions"
---

extends _includes/layouts/base.pug

block hero
    h2.text-navy All Mentions
    p.text-navy #{description}

block content
    +getMentions()