---
permalink: "/sitemap.txt"
dynamicPermalink: false
eleventyExcludeFromCollections: true
---

each page in collections.sitemap
    unless page.url == "/projects/salgirah-festival-identity/"
        | #{metadata.baseurl + page.url}
        |