@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Headings */
    h1 {
       @apply font-sans font-semibold py-4 text-4xl md:text-5xl;
    }
    h2 {
        @apply font-sans font-semibold py-4 text-2xl md:text-3xl;
    }
    h3 {
        @apply font-sans font-semibold py-4 text-xl md:text-xl;
    }
    .subhead {
        @apply font-sans text-lg text-gray pb-4;
    }
    .caption {
        @apply font-sans text-sm text-gray;
    }
    /* Body text style */
    p {
        @apply font-sans text-base text-gray font-light;
    }
    p a {
        /* TODO: do something more interesting here, especially for blog posts */
        /* @apply transition hover:underline; */
        @apply font-medium underline;
    }
    a {
        @apply transition hover:text-orange;
    }

    /* TODO: define a style for full width section, which can then have a color applied to it */
    section {
        @apply py-4;
    }

    /* TODO: idk, I go back and forth on this thing */
    /* img.portfolio-cover {
        @apply transition ease-in-out duration-300 filter hover:grayscale;
    } */

    img.logo {
        @apply inline mr-2;
    }
    .header-logo {
        @apply text-4xl italic font-serif;
    }

    hr {
        @apply my-4;
    }
}

@layer utilities {
    /* Typography plugin customization */
    /* TODO: align these with default headings... but scaled down a bit; */
    .prose {
        @apply font-sans text-base leading-normal text-gray;
        
        h1 {
            @apply text-navy font-serif font-normal italic;
        }
        h2, h3, h4, h5 {
            @apply text-navy font-sans my-0.5;
        }

        p, li {
            @apply text-gray font-light;
        }
        a {
            @apply transition hover:text-orange;
            @apply text-gray font-medium;
        }
        
        /* Don't automatically add quotes to a blockquote (from markdown) */
        blockquote {
            p:first-of-type::before, p:last-of-type::after {
                content: none;
            }
        }

        /* ul {
            @apply list-none;
        } */
    }

    img.emoji {
       height: 1em;
       width: 1em;
       margin: 0 .05em 0 .1em;
       vertical-align: -0.1em;
       display: inline;
    }
}