@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* TODO: swap out tailwind classes for most of this mess */

    /* Push everything back so the sticky header stays put */
    * {
        @apply z-0;
    }

    html, body {
      @apply min-h-screen m-0;
    }

    html {
        @apply text-gray;
    }

    body {
        @apply overflow-x-hidden overscroll-none h-full flex flex-col relative px-0;
        
    }

    header {
        @apply flex-initial sticky z-50 top-0 mx-auto;
    }

    main {
      @apply relative flex-auto px-0 mx-8;
    }

    footer {
      @apply flex-initial;
    }

    section {
        @apply w-full aspect-video;
    }
    /* TODO: define a style for full width section, which can then have a color applied to it */
    section {
        @apply py-4;
    }
    .centered-page img {
        @apply mx-auto;
    }

    /* Headings */
    h1 {
       @apply font-serif font-semibold text-gray py-4 text-4xl md:text-5xl;
    }
    h2 {
        @apply font-sans font-semibold text-black py-4 text-2xl md:text-3xl;
    }
    h3 {
        @apply font-sans font-semibold text-black py-4 text-xl md:text-xl;
    }
    .subhead {
        @apply font-sans text-lg text-gray pb-4;
    }
    .caption {
        @apply font-sans text-sm text-gray;
    }
    /* Body text style */
    p, li {
        @apply font-sans text-base text-gray font-light;
    }
    a {
        @apply transition hover:text-orange;
    }
    p a {
        @apply underline;
    }
    strong {
        @apply text-gray font-bold;
    }


    button {
        @apply bg-black w-full rounded-md hover:bg-orange;
    }

    img.logo {
        @apply inline mr-2;
    }
    .header-logo {
        @apply text-4xl text-black italic font-serif;
    }

    hr {
        @apply my-4;
    }
}

@layer utilities {
    /* Typography plugin customization */
    /* TODO: align these with default headings... but scaled down a bit; */
    .prose {
        @apply font-sans text-base leading-normal text-gray;
    }
    .prose h1 {
        @apply text-black font-serif font-normal italic;
    }
    .prose h2, .prose h3, .prose h4, .prose h5 {
        @apply text-black font-sans my-0.5;
    }
    .prose p, .prose li {
        @apply text-gray font-light;
    }
    .prose a {
        @apply transition hover:text-orange;
        @apply font-light;
    }
    .prose strong {
        @apply text-gray;
    }
    
    /* Don't automatically add quotes to a blockquote (from markdown) */
    .prose blockquote {
        p:first-of-type::before, p:last-of-type::after {
            @apply content-none;
        }
    }

    /* TODO: I don't think I'm using twemoji,
     *      an even better option might be noto emoji:
     *      https://fonts.google.com/noto/specimen/Noto+Emoji            
     */
    img.emoji {
       height: 1em;
       width: 1em;
       margin: 0 .05em 0 .1em;
       vertical-align: -0.1em;
       display: inline;
    }

    .full-width {
        @apply relative w-screen inset-x-1/2;
        margin-left: -50vw;
        margin-right: -50vw;
        max-width: 100vw;
    }
    .mailto {
        @apply transition hover:text-orange;
    }

    .link-button {
        @apply my-2;
    }
    .link-button h3 {
        @apply text-white hover:text-white;
    }

    /* TODO:  figure out a cleaner way to have BREAK styles */
    h2.break {
        @apply lg:text-8xl text-4xl;
        line-height: normal;
    }
}