---
title: Shakeel Mohamed – Style Guide
description: This is work in progress documentation of the design system used on this website, along with some personal brand guidelines.
---

extends _includes/layouts/base.pug
include _includes/molecules.pug

block hero
    h1.text-black Style Guide
    p.text-black #{description}

block content
    +textStyles()
    hr
    +colors()

mixin textStyles()
    //- TODO: how can this be pulled from tailwind.config.js?
    //- maybe require it through a data file
    //- TODO: all of this is stale
    //- TODO: exhaustive typography examples for prose block quotes, italics, bold, etc
    h1 Typography
    p.subhead Proxima Nova bold is used for headings.
    p All body text uses Proxima Nova regular.
    p Both font families are licensed through Typekit from Adobe Creative Cloud.
    .mx-8
        h1 Heading 1
        h2 Heading 2
        h3 Heading 3
        p.subhead Subheading
        p Plain paragraph text
        p.caption Caption text

mixin colors()
    //- TODO: all of this is stale
    //- TODO: programatically pull hex codes, note primary/secondary, etc.
    //- need an 11tydata file to import values from tailwind.config.js
    h1 Colors
    .flex.flex-wrap
        div.flex
            +colorCircle("black", "Black", "white")
            +colorCircle("white", "White")
            +colorCircle("orange", "Orange")

mixin colorCircle(bgColor, text, textColor="black")
    div(class="rounded-full h-32 w-32 flex items-center justify-center border-solid border-2 m-2 bg-" + bgColor + " border-" + textColor)
        p(class="text-" + textColor) #{text}
