---
description: Shakeel Mohamed is a Graphic Design MFA Candidate at ArtCenter College of Design.
---

extends _includes/layouts/base.pug

block content
    .grid-1
        h1 MFA Thesis: Applied Designer
        p Coming soon! :)