---
title: Projects
description: Shakeel Mohamed is a Graphic Designer in Los Angeles, specializing in branding, typography and leadership. He holds an MFA in Graphic Design from ArtCenter College of Design.
---

extends ../_includes/layouts/base.pug

block content
    if collections.portfolio
        .grid-2
            each project in collections.portfolio
                +projectListing(project)
    //- TODO: bring back once play stuff is organized neatly
    //- +gridCols2()
    //-     div
    //-         p
    //-             a(href"/play")For unpolished work, visit the archives.
    
    //- TODO: can include non-portfolio projects one day...
    if collections.portfolio
        +gridCols2()
            each project in collections.portfolio
                //- if project not in collections.archive
                +projectListing(project)